.programs{
  & > .container {
    padding: 0;
  }
  &__img-box{
    margin-bottom: 20px;
    & img{
      width: 100%;
      object-fit: cover;
    }
  }
  &__title{
    color: #000000;
    font-size: 32px;
    text-align: left;
    margin-top: 40px;
    margin-left: 16px;
    margin-bottom: 20px;
  }
  &__main-block{
    background-color: $milk;
    padding: 16px 20px;
    margin-bottom: 20px;
    &_title{
      color: $darkBlue;
      font-size: 28px;
      padding-bottom: 10px;
      border-bottom: 3px solid $aquamarine;
    }
    &_text{
      color: #000000;
      font-size: $p3;
      line-height: 1.35;
      padding-top: 20px;
      padding-bottom: 20px;
      & p:nth-child(2){
        margin-top: 10px;
      }
    }
    &_button-big{
      margin: auto;
      padding: 20px 0 15px;
      display: flex;
      & a{
        margin: auto;
      }
    }
  }
}

