<section class="programs" id="programs">
   <div class="container">
       <h2 class="programs__title">İxtisaslaşma</h2>
       <div id='frontend' class="programs-wrapper-front">
                <div class="programs__img-box">
                    <img src="../img/programs/Frontend_photo.jpg" />
                </div>
                <div class="programs__main-block">
                    <h3 class="programs__main-block_title">FrontEnd</h3>
                    <div class="programs__main-block_text">
                        <p>FrontEnd – internet saytının, yaxud mobil tətbiqin görünən hissəsidir.</p>
                        <p>Əgər Sizə interfeyslərlə və JavaScript proqramlaşdırma dilləri ilə iş maraqlıdırsa, onda bu istiqaməti seçməyiniz tövsiyə olunur.  </p>
                    </div>
                    <div class="programs__main-block_button-big">
                        <a class="btn-big btn-aquamarine" href="/frontend">Ətraflı</a>
                    </div>
                </div>
       </div>
       <div id="backend" class="programs-wrapper-back">
           <div class="programs__img-box">
               <img src="../img/programs/Backend_photo.jpg" />
           </div>
               <div class="programs__main-block">
                   <h3 class="programs__main-block_title">BackEnd</h3>
                   <div class="programs__main-block_text">
                       <p>BackEnd -  saytın və mobil tətbiqin server və verilənlər bazası ilə bağlı hissəsidir. Bu istiqamət üzrə təhsil alan tələbələr Java dili ilə məşğul olacaqlar.</p>
                       <p>Əmək bazarında bu sahənin mütəxəssislərinə xüsusilə az təsadüf edildiyindən BackEnd istiqamətinə bazarda tələbat daha böyükdür.</p>
                   </div>
                   <div class="programs__main-block_button-big">
                       <a class="btn-big btn-aquamarine" href="/backend">Ətraflı</a>
                   </div>
               </div>
       </div>
   </div>
</section>
