<section class="programs" id="programs">
   <div class="container">
       <h2 class="programs__title">Our courses</h2>
       <div id='frontend' class="programs-wrapper-front">
                <div class="programs__img-box">
                    <img src="../img/programs/Frontend_photo.png" />
                </div>
                <div class="programs__main-block">
                    <h3 class="programs__main-block_title">Frontend</h3>
                    <div class="programs__main-block_text">
                        <p>FrontEnd is a visible part of a website or a web-application, it’s something that each user deals with every single day.</p>
                        <p>This course should be chosen if you are interested in working with interfaces, JavaScript and pages appearance overall.</p>
                    </div>
                    <div class="programs__main-block_button-big">
                        <a class="btn-big btn-aquamarine" href="/en/frontend">READ MORE</a>
                    </div>
                </div>
       </div>
       <div id="backend" class="programs-wrapper-back">
           <div class="programs__img-box">
               <img src="../img/programs/Backend_photo.png" />
           </div>
               <div class="programs__main-block">
                   <h3 class="programs__main-block_title">Backend</h3>
                   <div class="programs__main-block_text">
                       <p>BackEnd specialist’s work is connected with websites, programs and web-applications remote part - everything related to file servers and databases.</p>
                       <p>Students will work with Java. Lack of BackEnd specialists on IT-market is the reason of strong demand and highly competitive salaries.</p>
                   </div>
                   <div class="programs__main-block_button-big">
                       <a class="btn-big btn-aquamarine" href="/en/backend">READ MORE</a>
                   </div>
               </div>
       </div>
   </div>
</section>
