<section class="learning-process">
    <div class="container">
        <h2 class="learning-process_title">Training program</h2>
        <h3 class="learning-process_subtitle">Method</h3>
        <p class="learning-process_text">The training program is based on the Israeli method for training IT-personnel - Telem.
            This is a comprehensive individual approach to a student:</p>
    <div class="learning-wrapper">
                <div class="wrapper-text-block">
                        <div class="learning-process_text-block">
                            <img class="learning-process_text-block_bullet" src="../img/learning/bullet.png"/>
                            <p class="learning-process_text-block_text">In the beginning a candidate is profiled, his strengths and weaknesses are determined , personal motivation is taken into account
                            </p>
                        </div>
                        <div class="learning-process_text-block">
                            <img class="learning-process_text-block_bullet" src="../img/learning/bullet.png"/>
                            <p class="learning-process_text-block_text">A candidate is getting tested and interviewed orally</p>
                        </div>
                        <div class="learning-process_text-block">
                            <img class="learning-process_text-block_bullet" src="../img/learning/bullet.png"/>
                            <p class="learning-process_text-block_text">Step-by-step training: at the start basic skills are studied, then - technology concepts and specific technologies in practice</p>
                        </div>
                        <div class="learning-process_text-block">
                            <img class="learning-process_text-block_bullet" src="../img/learning/bullet.png"/>
                            <p class="learning-process_text-block_text">The key principle is a project-based training, practical exercises evading boring lectures</p>
                        </div>
                        <div class="learning-process_text-block">
                            <img class="learning-process_text-block_bullet" src="../img/learning/bullet.png"/>
                            <p class="learning-process_text-block_text">No lectures and workbooks during classes - only tasks and challenges of various complexity level to be solved</p>
                        </div>
                        <div class="learning-process_text-block">
                            <img class="learning-process_text-block_bullet" src="../img/learning/bullet.png"/>
                            <p class="learning-process_text-block_text">The students will always have a support - the Academy uses a mentoring system</p>
                        </div>
                        <div class="learning-process_text-block">
                            <img class="learning-process_text-block_bullet" src="../img/learning/bullet.png"/>
                            <p class="learning-process_text-block_text">Throughout their studies, students implement projects to consolidate their learning.</p>
                        </div>
                </div>

        <div class="learning-process_block-img" >
            <img src="../img/learning/girl-with-shadow_2.png" />
        </div>
    </div>




        <h3 class="learning-process_subtitle">Training process</h3>
        <div class="learning-process_text-block-icons">
            <img class="learning-process_text-block-icons_icons" src="../img/learning/icon-1.png"/>
            <p class="learning-process_text-block_text">Students will be divided into 4 groups, which over the course of 2.5 months will intensively study in 2 different programming areas
            </p>
        </div>
        <div class="learning-process_text-block-icons">
            <img class="learning-process_text-block-icons_icons" src="../img/learning/icon-2.png"/>
            <p class="learning-process_text-block_text">Each group will be assigned to the experienced teacher from the same programming area. All the teachers are real experts who work for DAN.IT education and have at least 10 years of experience in the IT industry
            </p>
        </div>
        <div class="learning-process_text-block-icons">
            <img class="learning-process_text-block-icons_icons" src="../img/learning/icon-3.png"/>
            <p class="learning-process_text-block_text">The course mentors are also responsible for the students. The mentors task is to address students’ issues regarding technical part of training. In their spare time the mentor and the teacher have to respond students’ requests and help to absorb the material effectively
            </p>
        </div>
        <div class="learning-process_text-block-icons">
            <img class="learning-process_text-block-icons_icons" src="../img/learning/icon-4.png"/>
            <p class="learning-process_text-block_text">Groups are supervised by the facilitators. These people are responsible for organizational aspects of training, agenda, course schedule, facilities, equipment, etc. Students may contact their facilitators with a request to solve every day and motivational issues
            </p>
        </div>
        <div class="learning-process_text-block-icons">
            <img class="learning-process_text-block-icons_icons" src="../img/learning/icon-5.png"/>
            <p class="learning-process_text-block_text">At the end the best students, who have proven themselves, will receive an employment. The International Bank of Azerbaijan representatives will make job offers
            </p>
        </div>
    </div>
</section>
