<section class="learning-process">
    <div class="container">
        <h2 class="learning-process_title">Программа обучения</h2>
        <h3 class="learning-process_subtitle">Метод</h3>
        <p class="learning-process_text">Программа обучения основывается на израильской методике подготовки ИT-кадров – Telem. Это комплексный индивидуальный подход к студенту:</p>
    <div class="learning-wrapper">
                <div class="wrapper-text-block">
                        <div class="learning-process_text-block">
                            <img class="learning-process_text-block_bullet" src="../img/learning/bullet.png"/>
                            <p class="learning-process_text-block_text">Вначале составляется профиль кандидата, изучаются его сильные и слабые стороны, учитывается мотивация
                            </p>
                        </div>
                        <div class="learning-process_text-block">
                            <img class="learning-process_text-block_bullet" src="../img/learning/bullet.png"/>
                            <p class="learning-process_text-block_text">Кандидат проходит универсальное тестирование и устное интервью</p>
                        </div>
                        <div class="learning-process_text-block">
                            <img class="learning-process_text-block_bullet" src="../img/learning/bullet.png"/>
                            <p class="learning-process_text-block_text">Обучение пошаговое: сперва изучаются базовые навыки, затем – концепты технологий и конкретные технологии на практике</p>
                        </div>
                        <div class="learning-process_text-block">
                            <img class="learning-process_text-block_bullet" src="../img/learning/bullet.png"/>
                            <p class="learning-process_text-block_text">Главный принцип – проектная работа, максимум практики и минимум сухой теории</p>
                        </div>
                        <div class="learning-process_text-block">
                            <img class="learning-process_text-block_bullet" src="../img/learning/bullet.png"/>
                            <p class="learning-process_text-block_text">На занятиях не будет начитки материала и конспектов – только задачи и проблемы разной степени сложности, которые предстоит решить</p>
                        </div>
                        <div class="learning-process_text-block">
                            <img class="learning-process_text-block_bullet" src="../img/learning/bullet.png"/>
                            <p class="learning-process_text-block_text">Студент всегда будет иметь поддержку – Академия задействует систему менторинга</p>
                        </div>
                        <div class="learning-process_text-block">
                            <img class="learning-process_text-block_bullet" src="../img/learning/bullet.png"/>
                            <p class="learning-process_text-block_text">На протяжении учёбы студенты выполняют проекты, чтобы закрепить полученные знания</p>
                        </div>
                </div>

        <div class="learning-process_block-img" >
            <img src="../img/learning/girl-with-shadow_2.png" />
        </div>
    </div>




        <h3 class="learning-process_subtitle">Процесс</h3>
        <div class="learning-process_text-block-icons">
            <img class="learning-process_text-block-icons_icons" src="../img/learning/icon-1.png"/>
            <p class="learning-process_text-block_text">Студенты будут поделены на 4 группы, которые на протяжении 2,5 месяцев станут интенсивно обучаться по направлениям в сфере программирования.
            </p>
        </div>
        <div class="learning-process_text-block-icons">
            <img class="learning-process_text-block-icons_icons" src="../img/learning/icon-2.png"/>
            <p class="learning-process_text-block_text">За каждой группой будет закреплён опытный преподаватель из той же сферы работы, что и направление курса. Все преподаватели – настоящие эксперты в своей области, у которых за плечами минимум 10 лет опыта в ИТ-индустрии и работа в DAN.IT education.
            </p>
        </div>
        <div class="learning-process_text-block-icons">
            <img class="learning-process_text-block-icons_icons" src="../img/learning/icon-3.png"/>
            <p class="learning-process_text-block_text">За студентов отвечают также менторы курсов. Задача менторов – решать поступающие от студентов вопросы по технической части обучения. Ментор и преподаватель в свободное время отвечают на запросы от студентов и помогают им разобраться в материале.
            </p>
        </div>
        <div class="learning-process_text-block-icons">
            <img class="learning-process_text-block-icons_icons" src="../img/learning/icon-4.png"/>
            <p class="learning-process_text-block_text">Группы ведут курс-координаторы. Это люди, ответственные за организационные моменты обучения, график, расписание курса, удобства, технику и пр. Студенты могут обращаться к координаторам с просьбой решить бытовые и мотивационные вопросы.
            </p>
        </div>
        <div class="learning-process_text-block-icons">
            <img class="learning-process_text-block-icons_icons" src="../img/learning/icon-5.png"/>
            <p class="learning-process_text-block_text">В конце обучения лучшие студенты, которые проявили себя, получат трудоустройство. Предложениями о работе будут заниматься представители Международного Банка Азербайджана.
            </p>
        </div>
    </div>

</section>
