<section class="learning-process">
    <div class="container">
        <h2 class="learning-process_title">Tədris proqramı</h2>
        <h3 class="learning-process_subtitle">Metod</h3>
        <p class="learning-process_text">Təlimlər İsrailin məşhur TELEM metodu əsasında aparılır, hər bir tələbəyə yanaşma fərdi və kompleks olur:</p>
    <div class="learning-wrapper">
                <div class="wrapper-text-block">
                        <div class="learning-process_text-block">
                            <img class="learning-process_text-block_bullet" src="img/learning/bullet.png"/>
                            <p class="learning-process_text-block_text">Namizəd universal testlərdən və şifahi müsahibədən keçir</p>
                        </div>
                        <div class="learning-process_text-block">
                            <img class="learning-process_text-block_bullet" src="img/learning/bullet.png"/>
                            <p class="learning-process_text-block_text">Tələbənin maraq profili müəyyənləşir, güclü və zəif tərəfləri təhlil edilir, motivasiyası nəzərə alınır</p>
                        </div>
                        <div class="learning-process_text-block">
                            <img class="learning-process_text-block_bullet" src="img/learning/bullet.png"/>
                            <p class="learning-process_text-block_text">Əvvəlcə baza vərdişlər, daha sonra texnologiya konsepti və təcrübə əsasında konkret texnologiyalar öyrədilir</p>
                        </div>
                        <div class="learning-process_text-block">
                            <img class="learning-process_text-block_bullet" src="img/learning/bullet.png"/>
                            <p class="learning-process_text-block_text">Layihə işi, maksimum təcrübə, minimum nəzəriyyə əsas prinsip kimi qorunur</p>
                        </div>
                        <div class="learning-process_text-block">
                            <img class="learning-process_text-block_bullet" src="img/learning/bullet.png"/>
                            <p class="learning-process_text-block_text">Tədris prosesində oxu materialları və konspektlərdən istifadə edilmir – yalnız müxtəlif çətinlik dərəcəsində məsələlərin həlli tapşırılır</p>
                        </div>
                        <div class="learning-process_text-block">
                            <img class="learning-process_text-block_bullet" src="img/learning/bullet.png"/>
                            <p class="learning-process_text-block_text">Akademiya mentor sistemini tətbiq edir - tələbələr daimi dəstəyə malik olur</p>
                        </div>
                        <div class="learning-process_text-block">
                            <img class="learning-process_text-block_bullet" src="img/learning/bullet.png"/>
                            <p class="learning-process_text-block_text">Tələbələr qazandıqları bilik və bacarıqları möhkəmləndirməkdən ötrü təcrübi layihələr yerinə yetirirlər</p>
                        </div>
                </div>

        <div class="learning-process_block-img" >
            <img src="img/learning/girl-with-shadow_2.png" />
        </div>
    </div>




        <h3 class="learning-process_subtitle">Proses</h3>
        <div class="learning-process_text-block-icons">
            <img class="learning-process_text-block-icons_icons" src="img/learning/icon-1.png"/>
            <p class="learning-process_text-block_text">Tələbələr 4 qrupa bölünəcək. Hər qrup proqramlaşdırmanın 2 fərqli istiqaməti üzrə 2.5 aylıq intensiv təlim keçəcəklər.</p>
        </div>
        <div class="learning-process_text-block-icons">
            <img class="learning-process_text-block-icons_icons" src="img/learning/icon-2.png"/>
            <p class="learning-process_text-block_text">Bütün müəllimlər IT sahəsində və “DAN.IT” təhsil mərkəzində, ən azı, 10 illik iş təcrübəsinə malik peşəkar mütəxəssislərdir. Tələbələrlə kurs mentorları da məşğul olacaqlar.
            </p>
        </div>
        <div class="learning-process_text-block-icons">
            <img class="learning-process_text-block-icons_icons" src="img/learning/icon-3.png"/>
            <p class="learning-process_text-block_text">Mentorların əsas vəzifəsi tələbələrin tədrisin texniki hissəsinə aid suallarına cavab verməkdir. Mentor və müəllimlər sərbəst vaxtlarında tələbələrin bütün suallarını cavablandıracaq, onların materiallar üzərində işləmələrinə kömək göstərəcəklər.
            </p>
        </div>
        <div class="learning-process_text-block-icons">
            <img class="learning-process_text-block-icons_icons" src="img/learning/icon-4.png"/>
            <p class="learning-process_text-block_text">Hər bir qrupun kurs koordinatoru olacaq.  Təlim qrafiki, kurs cədvəli, lazımi şəraitin təmin olunması, texniki təchizat və s. məsələlərə görə onlar cavabdehlik daşıyacaqlar. Tələbələr maddi-texniki və motivasiya məzmunlu məsələlərlə bağlı onlara müraciət edə bilərlər.
            </p>
        </div>
        <div class="learning-process_text-block-icons">
            <img class="learning-process_text-block-icons_icons" src="img/learning/icon-5.png"/>
            <p class="learning-process_text-block_text">Təlimlərdə xüsusi fərqlənən məzunların tədris müddətinin sonunda işlə təmin olunmasına kömək göstəriləcək.
            </p>
        </div>
    </div>
</section>
