.navbar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: $navbarHeight;
  background-color: $darkBlue;
  z-index: 100;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    height: 100%;
  }

  &-logo {
    flex-grow: 1;
  }

  &-logo img {
    width: 80px;
  }

  & a {
    color: white;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

    &-wrapper {
      position: absolute;
      top: 68px;
      right: -300px;
      display: flex;
      flex-direction: column;
      background-color: $lightBlue;
      transition: transform 250ms ease-in-out; ;

      & a {
        padding: 16px;
        letter-spacing: 1px;
      }

      & a:hover {
        background-color: $aquamarine;
      }

    }

    & > a {
      text-align: center;
    }

  }

  &__lang-list {
    font-size: $btnTextSmall;
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
    appearance: none;
    width: 42px;
    background-repeat: no-repeat;
    background-position: 26px center;
    padding-left: 2px;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      background-image: url("../img/header/expand-less.svg");
    }

    &:not(:active) {
      background-image: url("../img/header/expand-more.svg");
    }


    & option {
      background-color: $lightBlue;
    }

    & option:checked {
      background-color: $aquamarine;
    }

  }

  &__checkbox {
    display: none;

    &:checked ~ .navbar__menu-wrapper {
      transform: translateX(-300px);
    }

    &:checked ~ .navbar__icon > .navbar__icon-stick--top {
      transform: rotate(135deg) ;
      margin-top: 8px;
    }

    &:checked ~ .navbar__icon > .navbar__icon-stick--middle {
      transform: translateX(-12px);
      opacity: 0;
    }

    &:checked ~ .navbar__icon > .navbar__icon-stick--bottom {
      transform: rotate(-135deg);
      margin-top: -8px;
    }
  }

  &__icon {
    position: relative;
    min-width: 24px;
    min-height: 25px;
    order: 10;

    &-stick {
      position: absolute;
      width: 24px;
      height: 3px;
      background-color: white;
      transition: all 0.3s;

      &--top {
        top: 3px;
        left: 0;
      }

      &--middle {
        top: 11px;
        left: 0;
      }

      &--bottom {
        top: 19px;
        left: 0;
      }
    }
  }

}

@media (min-width: $screen580) {
  .navbar {
    &-logo img {
      width: 100px;
    }
  }
}

@media (min-width: $screen980) {
  .navbar {

    &__content {
    }

    &-logo {
    }

    &-logo img {
      width: 110px;
    }

    &__menu {

      &-wrapper {
        position: static;
        flex-direction: row;
        background-color: transparent;

        & a {
          padding: 4px 0;
          margin: 10px;
          border-bottom: 2px solid transparent;
        }

        & a:hover {
          border-bottom-color: white;
          background-color: transparent;
        }

      }

    }


    &__icon {
      display: none;
    }

  }

}