.home {
  height: 100vh;
  background: url("../img/header/Students_foto_main_banner.png") center no-repeat;
  background-size: cover;
  margin-bottom: $navbarHeight;

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding-bottom: 48px;

    color: white;
    text-align: center;
  }

  &-title {
    font-size: $h1;
    line-height: 80px;
    font-weight: 600;
  }

  &-subtitle {
    font-size: 26px;
    line-height: 36px;
  }

  & .application {
    display: none;
  }
}

