@media (min-width: $screen980) {
  .home {
    background-size: cover;
    padding-bottom: 102px;

    &-wrapper {

    }

    &-subtitle {
      margin-bottom: 24px;
    }

    & .application {
      display: block;
    }
  }
}