@media (min-width: $screen580) {
  .home {
    background-position: center;
    &-info {
      &__wrapper {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
      }
      &__item {
        width: calc(100% / 2 - 20px);
      }
    }
  }
}

@media (min-width: $screen760) {
  .home {
    &-title {
      font-size: $h1;
    }
  }
}

@media (min-width: $screen980) {
  .home {
    background-size: cover;
    padding-bottom: 102px;

    &-info {
      &__wrapper {
        justify-content: space-evenly;
      }
      &__item {
        width: calc(100% / 4 - 10px);
      }
    }

    &--frontend {
      background-position: center;
    }
    &--backend {
      background-position: center;
    }

    &-wrapper {

    }

    &-subtitle {
      margin-bottom: 24px;
    }

    & .application {
      display: block;
    }
  }
}