@media (min-width: $screen580) {
  .navbar {
    &-logo img {
      width: 100px;
    }
  }
}

@media (min-width: $screen980) {
  .navbar {

    &__content {
    }

    &-logo {
    }

    &-logo img {
      width: 110px;
    }

    &__menu {

      &-wrapper {
        position: static;
        flex-direction: row;
        background-color: transparent;

        & a {
          padding: 4px 0;
          margin: 10px;
          border-bottom: 2px solid transparent;
        }

        & a:hover {
          border-bottom-color: white;
          background-color: transparent;
        }

      }

    }


    &__icon {
      display: none;
    }

  }

}

@media (min-width: $screen980) {
  .home {
    background: url("../img/header/Students_foto_main_banner@3x.png") center no-repeat;
    background-size: cover;
    padding-bottom: 102px;

    &-wrapper {

    }

    &-subtitle {
      margin-bottom: 24px;
    }

    & .application {
      display: block;
    }
  }



}