<section class="header">
    <nav class="navbar">
        <div class="navbar__content container">
            <div class="navbar-logo">
                <img src="../img/header/logo-bank.png" alt="">
            </div>
            <div class="navbar__menu">
                <input type="checkbox" class="navbar__checkbox" id="navbar__checkbox">
                <label for="navbar__checkbox" class="navbar__icon">
                    <div class="navbar__icon-stick navbar__icon-stick--top"></div>
                    <div class="navbar__icon-stick navbar__icon-stick--middle"></div>
                    <div class="navbar__icon-stick navbar__icon-stick--bottom"></div>
                </label>
                <div class="navbar__menu-wrapper">
                    <a href="#">О проекте</a>
                    <a href="#">Направления</a>
                    <a href="#">Этапы поступления</a>
                    <a href="#">Контакты</a>
                </div>

                <a class="btn-small bnt-aquamarine" href="#">Подать заявку</a>
                <select name="navbar__lang-list" id="navbar__lang-list">
                    <option value="ru">Ru</option>
                    <option value="en">En</option>
                </select>
            </div>
        </div>
    </nav>

    <div class="header">

    </div>
</section>