<section class="header">
    <nav class="navbar">
        <div class="navbar__content container">
            <a class="navbar-logo" href="#">
                <img src="../img/header/logo-bank.png" alt="logo-bank.png">
            </a>
            <div class="navbar__menu">
                <input type="checkbox" class="navbar__checkbox" id="navbar__checkbox">
                <label for="navbar__checkbox" class="navbar__icon">
                    <div class="navbar__icon-stick navbar__icon-stick--top"></div>
                    <div class="navbar__icon-stick navbar__icon-stick--middle"></div>
                    <div class="navbar__icon-stick navbar__icon-stick--bottom"></div>
                </label>
                <div class="navbar__menu-wrapper">
                    <a href="#about">О проекте</a>
                    <div class="navbar__submenu">
                        <a href="#programs">Направления</a>
                        <div class="navbar__submenu-wrapper">
                            <a href="#frontend">Frontend</a>
                            <a href="#backend">Backend</a>
                        </div>
                    </div>

                    <a href="#stages">Этапы поступления</a>
                    <a href="#contacts">Контакты</a>
                </div>

                <a class="btn-small bnt-aquamarine" href="#">Подать заявку</a>
                <select  class="navbar__lang-list" id="navbar__lang-list" name="lang">
                    <option value="ru">Ru</option>
                    <option value="az">Az</option>
                    <option value="en">En</option>
                </select>
            </div>
        </div>
    </nav>

    <div id="home" class="home">
        <div class="home-wrapper container">
            <h1 class="home-title">Welcome!</h1>
            <p class="home-subtitle">We will help you understand the world!</p>
            <a class="application btn-big bnt-aquamarine" href="#">ПОДАТЬ ЗАЯВКУ</a>
        </div>
    </div>
</section>