<section id="home" class="home home--frontend">
    <div class="home-wrapper container">
        <h1 class="home-title home-mb70">Frontend bootcamp</h1>
        <a class="application btn-extra bnt-aquamarine" href="#appForm">Apply</a>
    </div>
</section>

<section class="home-info">
    <div class="container home-info__wrapper">
        <div class="home-info__item">
            <img src="../img/header/frontend/start.png" alt="schedule">
            <h3 class="home-info__item-title">Start date</h3>
            <p class="home-info__item-subtitle">October 10th</p>
        </div>
        <div class="home-info__item">
            <img src="../img/header/frontend/duration.png" alt="schedule">
            <h3 class="home-info__item-title">Duration:</h3>
            <p class="home-info__item-subtitle">2.5 months/300 hours</p>
        </div>
        <div class="home-info__item">
            <img src="../img/header/frontend/schedule.png" alt="schedule">
            <h3 class="home-info__item-title">Schedule:</h3>
            <p class="home-info__item-subtitle">I, III, V 15:00-21:00</p>
            <p class="home-info__item-subtitle">II, IV 8:30-14:30, VI 9:30-15:30</p>
        </div>
        <div class="home-info__item">
            <img src="../img/header/frontend/group.png" alt="schedule">
            <h3 class="home-info__item-title">Group size:</h3>
            <p class="home-info__item-subtitle">25 students</p>
        </div>
    </div>
</section>