<div id="home" class="home">
    <div class="home-wrapper container">
<!--        <h1 class="home-title">IBA Tech Academy</h1>-->
        <h1 class="home-title">Join high tech generation</h1>
<!--        <p class="home-subtitle">Join high tech generation</p>-->
        <a class="application btn-big bnt-aquamarine" href="#appForm">APPLY</a>
    </div>
</div>