<div id="home" class="home">
    <div class="home-wrapper container">
<!--        <h1 class="home-title">IBA Tech Academy</h1>-->
        <h1 class="home-title">Yüksək texnologiyalar nəslinə sən də qoşul!</h1>
<!--        <p class="home-subtitle">Yüksək texnologiyalar nəslinə sən də qoşul</p>-->
        <a class="application btn-big bnt-aquamarine" href="#appForm">Müraciət et</a>
    </div>
</div>