<section id="benefits" class="benefits">
    <div class="container">
        <h3 class="benefits-title">Чего добьются наши студенты:</h3>
        <div class="benefits-list">
            <div class="benefits-list__item">
                <div class="benefits-list__item-num_1">1</div>
                <p class="benefits-list__item-text">
                    обучатся новой профессии за 2.5 месяца интенсивных занятий
                </p>
            </div>
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">2</div>
                <p class="benefits-list__item-text">
                    получат полный стэк навыков по одной из сфер: FrontEnd или BackEnd
                </p>
            </div>
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">3</div>
                <p class="benefits-list__item-text">
                    получат необходимые навыки и практику для составления привлекательного для работодателей портфолио и резюме
                </p>
            </div>
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">4</div>
                <p class="benefits-list__item-text">
                    научатся презентовать себя и свои проекты
                </p>
            </div>
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">5</div>
                <p class="benefits-list__item-text">
                    обретут уверенность и поработают над soft-skills
                </p>
            </div>
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">6</div>
                <p class="benefits-list__item-text">
                    узнают о международном опыте, кейсах известных компаний, получат примеры и практические советы для будущей карьеры
                </p>
            </div>
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">7</div>
                <p class="benefits-list__item-text">
                    лучшие студенты будут трудоустроены по новой профессии
                </p>
            </div>

        </div>
    </div>
</section>