<section id="benefits" class="benefits">
    <div class="container">
        <h3 class="benefits-title">Tələbələr nələr əldə edəcəklər?</h3>
        <div class="benefits-list">
            <div class="benefits-list__item">
                <div class="benefits-list__item-num_1">1</div>
                <p class="benefits-list__item-text">
                    2.5 aylıq intensiv təlimlər sayəsində yeni ixtisasa yiyələnəcəklər
                </p>
            </div>
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">2</div>
                <p class="benefits-list__item-text">
                    FrontEnd və BackEnd istiqamətindən biri üzrə tam peşəkar vərdişlər qazanacaqlar
                </p>
            </div>
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">3</div>
                <p class="benefits-list__item-text">
                    İşəgötürənlər üçün cəlbedici portfolio və rezüme hazırlamaqdan ötrü vacib bilik və bacarıqlara malik olacaqlar
                </p>
            </div>

            <div class="benefits-list__item">
                <div class="benefits-list__item-num">4</div>
                <p class="benefits-list__item-text">
                    Özlərini və layihələrini təqdim etməyi öyrənəcəklər
                </p>
            </div>
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">5</div>
                <p class="benefits-list__item-text">
                    Soft-skills vərdişlərini inkişaf etdirəcək, özgüvən qazanacaqlar
                </p>
            </div>
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">6</div>
                <p class="benefits-list__item-text">
                    Beynəlxalq təcrübəni, xarici  kampaniyaların keyslərini mənimsəyəcək, maraqlı nümunələrlə tanış olacaq və gələcək karyeraları üçün faydalı məsləhətlər alacaqlar
                </p>
            </div>
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">7</div>
                <p class="benefits-list__item-text">
                    Xüsusi fərqlənən məzunların yeni ixtisasları üzrə işə düzəlmələrinə kömək göstəriləcək
                </p>
            </div>
        </div>
    </div>
</section>