<section id="benefits" class="benefits">
    <div class="container">
        <h3 class="benefits-title">After training in IBA Tech Academy students will:</h3>
        <div class="benefits-list">
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">1</div>
                <p class="benefits-list__item-text">
                    obtain new profession in <span>2,5</span> months during intensive studies
                </p>
            </div>
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">2</div>
                <p class="benefits-list__item-text">
                    get a full stack of skills in one of 2 areas: <span>FrontEnd</span> and <span>BackEnd</span>
                </p>
            </div>
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">3</div>
                <p class="benefits-list__item-text">
                    create an attractive portfolio and a СV for employers
                </p>
            </div>
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">4</div>
                <p class="benefits-list__item-text">
                    tune self-presentation and project showcase skills
                </p>
            </div>
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">5</div>
                <p class="benefits-list__item-text">
                    gain self-confidence and improve <span>soft-skills</span>
                </p>
            </div>
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">6</div>
                <p class="benefits-list__item-text">
                    learn about international experience, well-known companies cases, receive practical advice for their future career.
                </p>
            </div>
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">7</div>
                <p class="benefits-list__item-text">
                    the best students will get a job in a new profession
                </p>
            </div>
        </div>
    </div>
</section>