<section id="benefits" class="benefits">
    <div class="container">
        <h3 class="benefits-title">After completion of immersive bootcamp program the participants will:</h3>
        <div class="benefits-list">
            <div class="benefits-list__item">
                <div class="benefits-list__item-num_1">1</div>
                <p class="benefits-list__item-text">
                    obtain  a new profession in 2.5 months during intensive studies
                </p>
            </div>
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">2</div>
                <p class="benefits-list__item-text">
                    get a full stack of skills in one of 2 areas: FrontEnd and BackEnd
                </p>
            </div>
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">3</div>
                <p class="benefits-list__item-text">
                    be able to create an attractive portfolio and a СV for potential employers
                </p>
            </div>
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">4</div>
                <p class="benefits-list__item-text">
                    tune self-presentation and project showcase skills
                </p>
            </div>
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">5</div>
                <p class="benefits-list__item-text">
                    gain self-confidence and improve soft-skills
                </p>
            </div>
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">6</div>
                <p class="benefits-list__item-text">
                    learn about international experience, well-known companies cases, receive practical advice for their future career
                </p>
            </div>
            <div class="benefits-list__item">
                <div class="benefits-list__item-num">7</div>
                <p class="benefits-list__item-text">
                    will have a chance to get a job from IBA (for top performers)
                </p>
            </div>
        </div>
    </div>
</section>