<section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci consequuntur ex excepturi iste minus,
        recusandae unde. Architecto deleniti, doloremque doloribus iusto magnam necessitatibus, officia porro ratione,
        tempora tempore voluptatibus!</p>
</section>