<!----------------- U N K O M M E N T  M E  W H E N  R E G I S T R A T I O N  E N D S -------------------->
<!--<div class="app-modal app-modal&#45;&#45;closed">-->
<!--    <div class="app-modal__msg">-->
<!--        <p class="app-modal__highlight">Qeydiyyat bağlıdır</p>-->
<!--    </div>-->
<!--</div>-->
<!----------------- U N K O M M E N T  M E  W H E N  R E G I S T R A T I O N  E N D S -------------------->
