<section class="program container">
    <h2 class="program__title">PROGRAM</h2>
    <div class="program__wrap-module">
        <div class="program__module">
            <h3 class="program__module-title"><span>Module 1.</span>Java Basics</h3>
            <div class="program__module-description">
                <p>It includes studying Java basic principles, object-oriented programming basic principles, classes, interfaces, collections Set, Map, Queue, Stack. Lambda expressions, error handling, file handling will also be covered during module 1.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Module 2.</span>Algorithms</h3>
            <div class="program__module-description">
                <p>Algorithms is the most important module that students from technical universities deal with. This is the basis of computer science. Successful coding can’t be possible without proficiency in algorithms.</p>
                <p>Gained knowledge will serve as a strong technical base for future obtaining of any technology. During this module, students will master basic algorithms and data structures, regular and typed arrays, linked lists, stacks, queues, associative arrays. Students will also learn about hashing, graphs, DFS and BFS, dynamic programming, trees, caching algorithms, etc.</p>
                <p>After completing the module, students will have a clear picture of the algorithm complexity, will be able to analyze the program performance.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Module 3.</span>Java Web</h3>
            <div class="program__module-description">
                <p>The aim of this module is to teach students create and launch the web app server part, create a database, configure interactions between its tables, regulate the receipt and sending of requests to the server.</p>
                <p>Students will gain experience in the following areas:</p>
                <ul>
                    <li>Maven project builder</li>
                    <li>Servlet API, Jettyserver</li>
                    <li>SQL queries</li>
                    <li>creating a database scheme</li>
                    <li>access levels distribution</li>
                    <li>Servlet filters</li>
                    <li>Cookies</li>
                    <li>Authentication</li>
                </ul>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Module 4.</span>Java Frameworks, Multithreading</h3>
            <div class="program__module-description">
                <p>In the process of writing complete server systems Java EE will be studied. The frameworks of Spring IoC, Spring Security, Hibernate, Spring Data, SQL databases, NoSql, web servers will be worked through as well as multithreading for parallel execution of several operations.</p>
                <p>For better understanding of existing standards in the industry the basics and the principle of modern frameworks operations will be analyzed. Students will practise pair coding, projects focus, studying the code style, authentication and authorization, cookies, creating online stores.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Workshops</span>Business Intelligence / Mobile Application</h3>
            <div class="program__module-description">
                <p>Along with all modules students are able to attend workshops and participate in webinars from international IT professionals.</p>
                <h4>Workshop “Business Intelligence”</h4>
                <p>Students will gain insights into the field of Business Intelligence (BI) and data analytics, learn about business analysis development and its usage. Main topic: technologies, ideas for implementation data warehousing, data visualization and the upcoming BI direction.</p>
                <p>Students will:</p>
                <ul>
                    <li>create understanding of business analysis</li>
                    <li>gain knowledge of new data analytics tools</li>
                    <li>generate ideas for data warehouse implementation</li>
                    <li>discuss the prospects for area studying</li>
                </ul>
                <h4>Воркшоп "Mobile Development на базе React Native"</h4>
                <p>React Native — фреймворк, который позволяет использовать один язык программирования и для Android, и для IOS в разработке нативных мобильных приложений.</p>
                <p>На воркшопе будут рассмотрены такие темы:</p>
                <ul>
                    <li>React и React Native: главные отличия</li>
                    <li>Настройка окружения</li>
                    <li>Создание билда проекта для Android и IOS</li>
                    <li>Использование специальных инструментов</li>
                    <li>Дебаг приложения</li>
                </ul>
                <h4>Воркшоп "Node JS"</h4>
                <p>Node JS - программная платформа, которая позволяет использовать JavaScript в куда более широком спектре применений. Благодаря Node JS стало возможным, без изучения дополнительного BackEnd языка разрабатывать серверную часть приложений.</p>
                <p>Охват тем мероприятия:</p>
                <ul>
                    <li>введение в платформу Node.js</li>
                    <li>настройка среды и инструментов для разработки</li>
                    <li>организация приложений, модульный подход</li>
                    <li>работа с консолью (терминалом)</li>
                    <li>создание простого веб-сервера, работа с http-запросами</li>
                    <li>обработка событий (особенности работы Event Loop)</li>
                    <li>фреймворк Express</li>
                    <li>размещение Node.js приложения на облачном сервисе Heroku</li>
                </ul>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title">Финальный проект</h3>
            <div class="program__module-description">
                <p>Команды студентов будут работать над комплексным финальным проектом под еженедельным наблюдением преподавателя, ментора и курс-координатора.. После 2,5 месяцев  сплоченной работы, от планирования до подготовки демо-версий, студентам предстоит презентация проекта.</p>
            </div>
        </div>
    </div>
    <div class="program__show-more">
        <div class="program__show-more-btn"></div>
        <p class="program__show-more-text">Смотреть всю программу</p>
    </div>
</section>