<section class="program container">
    <h2 class="program__title">Программа</h2>
    <div class="program__wrap-module">
        <div class="program__module">
            <h3 class="program__module-title"><span>Модуль 1.</span>Основы HTML, CSS</h3>
            <div class="program__module-description">
                <p>HTML – средство логической разметки веб-страницы. Используя структуру разметки, можно вносить данные на страницу. В процессе первого модуля студенты научатся описывать эту структуру, используя HTML-теги (специальные маркеры, которые считывает браузер).</p>
                <p>Также в первом модуле студенты будут изучать основы CSS, это нужно для того, чтобы они понимали, как сообщить браузеру правильное отображение HTML-тегов и добиться красивой отрисовки страницы согласно макету.
                </p>
                <p>Обучение языку включает в себя:</p>
                <ul>
                    <li>основные инструменты разработчика</li>
                    <li>селекторы CSS, их вес, и как он вычисляется</li>
                    <li>оформление элементов</li>
                    <li>управление размером и положением блоков на странице</li>
                    <li>блочная модель элементов: границы, отступы</li>
                    <li>работу со стандартами CSS3 и HTML5</li>
                    <li>базовую анимацию</li>
                    <li>основы работы с системой контроля версий</li>
                </ul>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Модуль 2.</span>Основы JavaScript</h3>
            <div class="program__module-description">
                <p>HTML задает разметку сайта, CSS отвечает за внешний вид, а JavaScript приводит всё в действие.</p>
                <p>С помощью JavaScript-кода программист определяет, как страница отреагирует на действия пользователя. Модуль познакомит студентов с синтаксисом языка, научит им пользоваться и позволит написать первые интерактивные страницы.</p>
                <p>Студенты получат опыт в таких направлениях:</p>
                <ul>
                    <li>типы данных, их отличия и области применения;</li>
                    <li>преобразование типов</li>
                    <li>переменные и правила их именования</li>
                    <li>условия, операторы, массивы, циклы, функции</li>
                    <li>области видимости переменных</li>
                    <li>контекст выполнения функций</li>
                    <li>управляющие конструкции</li>
                    <li>объектная модель</li>
                    <li>объектная модель окна</li>
                    <li>Localstorage/Sessionstorage</li>
                    <li>браузерные события, отклик на нажатия мыши и клавиатурных клавиш</li>
                    <li>подключение и использование библиотеки jQuery</li>
                    <li>основы работы с jQuery плагинами</li>
                </ul>

                <p>Также студенты ознакомятся с порядком обработки событий (event loop), функциями обратного вызова (callback). По ходу курса студенты научатся работе с консолью разработчика, отлаживать (debug) и проверять код на предмет ошибок.</p>
                <p>После окончания первых двух модулей студенты фронтенд направления смогут создать веб-страницу с необходимой разметкой и интерактивным поведением.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Модуль 3.</span>Advanced HTML\CSS</h3>
            <div class="program__module-description">
                <p>Любая веб-страница должна быть удобной для использования и выглядеть на всех устройствах презентабельно и читабельно. Для того, чтобы это реализовать, в программе предусмотрен модуль продвинутых знаний верстки.</p>
                <p>Студенты получат знания в направлениях:</p>
                <ul>
                    <li>препроцессоры SCSS, SASS</li>
                    <li>CSS методология БЕМ</li>
                    <li>верстка с пиксельной точностью</li>
                    <li>адаптивная верстка</li>
                    <li>Mobile first верстка</li>
                    <li>сборщики проектов, Gulp и его модули</li>
                    <li>продвинутое использование системы контроля версий Git</li>
                </ul>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Модуль 4.</span>Advanced JavaScript</h3>
            <div class="program__module-description">
                <p>Модуль поможет углубиться в изучение основ объектно-ориентированного программирования (ООП), базовых шаблонов проектирования, основ функционального программирования, возможностей стандарта ES6\ ES7 (ECMAScript), MVC архитектуры.</p>
                <p>Также в этом модуле будут рассмотрены:</p>
                <ul>
                    <li>деструктуризация</li>
                    <li>передача контекста выполнения – методы call, apply, bind</li>
                    <li>замыкания</li>
                    <li>работа «сборщика мусора»</li>
                    <li>обработка ошибок</li>
                    <li>основы объектно ориентированного программирования</li>
                    <li>прототипирование</li>
                    <li>классы стандарта EcmaScript6</li>
                    <li>Drag&Drop</li>
                    <li>основы клиент-серверной архитектуры</li>
                    <li>основы регулярных выражений</li>
                    <li>POST, PUT, DELETE запросы</li>
                    <li>HTTP протокол</li>
                    <li>cookies</li>
                    <li>Async/Await</li>
                </ul>
                <p>Студентов ждёт знакомство со стандартами Web Workers API, WebSocket, JSON, AJAX, XMLHttpRequest, Promise, Single Page Application, общая информация про RESTful API.</p>
                <p>Модуль построен с учетом последних стандартов в индустрии.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Модуль 5.</span>Основы работы с библиотекой React.js</h3>
            <div class="program__module-description">
                <p>Изучение построения сложных веб-приложений с помощью React.js. Студенты узнают про принципиально новый и инновационный подход в формировании страниц сайтов и приложений.</p>
                <p>Модуль покрывает следующие темы:</p>
                <ul>
                    <li>верстка JSX</li>
                    <li>виртуальный	DOM</li>
                    <li>components</li>
                    <li>работа с Props/State компонента</li>
                    <li>React Router</li>
                    <li>React Forms</li>
                    <li>React hooks</li>
                    <li>Redux</li>
                    <li>работа с ImmutableJS в React/Redux приложении.</li>
                </ul>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title">Дополнительные навыки</h3>
            <div class="program__module-description">
                <p>Курс предусматривает обязательное изучение системы контроля версий Git, благодаря которой можно грамотно построить работу в команде.</p>
                <p>Будут раскрыты следующие темы:</p>
                <ul>
                    <li>работа с Git Bash</li>
                    <li>workflow от создания репозитория до его отправки на удаленный сервер</li>
                    <li>работа с ветками</li>
                    <li>работа с конфигурационными файлами.</li>
                </ul>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Воркшопы</span></h3>
            <div class="program__module-description">
                <p>На протяжении всех модулей студенты смогут посещать воркшопы и участвовать в вебинарах от международных специалистов в области ИТ.</p>
                <h4>Воркшоп "Business Intelligence"</h4>
                <p>Студенты получат понимание о сфере "Business Intelligence"(BI) и аналитике данных, узнают о развитии бизнес-анализа и его использовании. Основная тема: технологии, идеи для реализации хранилищ данных, визуализация данных и будущее направления BI.</p>
                <p>Чему научатся студенты:</p>
                <ul>
                    <li>Сформируют понимание о том, что такое бизнес-анализ</li>
                    <li>Получат знания о новых инструментах аналитики данных</li>
                    <li>Сгенерируют идеи для реализации хранилища данных</li>
                    <li>Обсудят перспективы изучения этой сферы</li>
                </ul>
                <h4>Воркшоп "Mobile Development на базе React Native"</h4>
                <p>React Native — фреймворк, который позволяет использовать один язык программирования и для Android, и для IOS в разработке нативных мобильных приложений.</p>
                <p>На воркшопе будут рассмотрены такие темы:</p>
                <ul>
                    <li>React и React Native: главные отличия</li>
                    <li>Настройка окружения</li>
                    <li>Создание билда проекта для Android и IOS</li>
                    <li>Использование специальных инструментов</li>
                    <li>Дебаг приложения</li>
                </ul>
                <h4>Воркшоп "Node JS"</h4>
                <p>Node JS - программная платформа, которая позволяет использовать JavaScript в куда более широком спектре применений. Благодаря Node JS стало возможным, без изучения дополнительного BackEnd языка разрабатывать серверную часть приложений.</p>
                <p>Охват тем мероприятия:</p>
                <ul>
                    <li>введение в платформу Node.js</li>
                    <li>настройка среды и инструментов для разработки</li>
                    <li>организация приложений, модульный подход</li>
                    <li>работа с консолью (терминалом)</li>
                    <li>создание простого веб-сервера, работа с http-запросами</li>
                    <li>обработка событий (особенности работы Event Loop)</li>
                    <li>фреймворк Express</li>
                    <li>размещение Node.js приложения на облачном сервисе Heroku</li>
                </ul>
            </div>
        </div>

        <div class="program__module">
            <h3 class="program__module-title"><span>Soft skills, технический английский и подготовка к собеседованию</span></h3>
            <div class="program__module-description">
                <p>С середины курса студенты параллельно начнут заниматься развитием своих внутренних качеств и готовиться к презентации проектов.</p>
                <p>Мы создадим условия полноценных собеседований, максимально приближенные к реальным.</p>
                <p>Проработаем резюме каждого студента, поработаем над его умениями презентовать проект и свой бренд.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Финальный проект</span></h3>
            <div class="program__module-description">
                <p>Команды студентов будут работать над финальным проектом по ролям, с учетом выполненных задач согласно методологии SCRUM. Идея проекта: интернет-магазин со своим продуктом и уникальным интерактивным интерфейсом. По окончанию финального проекта студентам предстоит его защита и презентация.</p>
            </div>
        </div>
    </div>

    <div class="program__show-more">
        <div class="program__show-more-btn"></div>
        <p class="program__show-more-text">Смотреть всю программу</p>
    </div>
</section>