<section class="program container">
    <h2 class="program__title">Programma</h2>
    <div class="program__wrap-module">
        <div class="program__module">
            <h3 class="program__module-title"><span>Modul 1.</span>HTML, CSS əsasında</h3>
            <div class="program__module-description">
                <p>HTML veb-səhifələrin məntiqi işarələnməsi vasitəsidir. İşarələmə strukturundan istifadə etməklə məlumatları səhifəyə daxil etmək olur. Birinci modul müddətində tələbələr HTML teqlərindən istifadə etməklə bu strukturun təsvirini  öyrənməyə başlayacaqlar.</p>
                <p>Birinci  modulda həmçinin tələbələr CSS-in  əsaslarını öyrənəcəklər. Bu brauzeri HTML teqlərinin təsviri ilə düzgün məlumatlandırma yollarını anlamaqdan ötrü lazımdır. Bunu bilmək razılaşdırılmış maket üzrə gözəl bir səhifənin yaradılmasına kömək göstərir.
                </p>
                <p>Bu istiqamətdə tədrisə aşağıdakılar daxildir:</p>
                <ul>
                    <li>Proqramçının əsas alətləri;</li>
                    <li>CSS selektorları, onların həcmi, elementlərin hesablanması qaydaları;</li>
                    <li>Səhifədə blokların ölçü və vəziyyətinin idarə olunması;</li>
                    <li>Elementlərin blok modeli: sərhədlər, girintilər;</li>
                    <li>CSS 3 və HTML 5 standartları ilə iş; </li>
                    <li>Baza animasiyaları;</li>
                    <li>Sistem nəzarəti versiyası ilə işin əsasları.</li>
                </ul>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Modul 2.</span>Java Scriptin əsasları</h3>
            <div class="program__module-description">
                <p>HTML saytın sxemini yaradır, CSS onun zahiri görkəmini formalaşdırır, JavaScript isə onları hərəkətə gətirir. </p>
                <p>JavaScript-in köməyi ilə proqramçı saytın istifadəçidə  hansı reaksiyanı yaradacağını müəyyən edə bilir. Bu modul tələbələri Java Script dilinin sintaksisi ilə tanış edir. Onlara bu dildən istifadə edərək ilk interaktiv səhifələrini yazmağa kömək göstərir.</p>
                <p>Tələbələr aşağıdakı istiqamətlər üzrə təcrübə qazanırlar:</p>
                <ul>
                    <li>Məlumat tipləri, onların fərqi və tətbiq dairəsi;</li>
                    <li>Məlumat tiplərinin çevrilməsi;</li>
                    <li>Məlumat tiplərinin adlandırılması hüququ;</li>
                    <li>Şərtlər, operatorlar, massivlər, tsikllər, funksiyalar;</li>
                    <li>Dəyişikliklərin əhatə dairəsi;</li>
                    <li>Funksiyaların tamamlanma konteksti;</li>
                    <li>İdarə edilən konstruksiyalar;</li>
                    <li>Obyekt modeli;</li>
                    <li>Obyekt modelinin pəncərəsi;</li>
                    <li>Localstorage/Sessionstorage</li>
                    <li>Brauzer hadisələri, maus və klaviatura düymələrinin sıxılmasının ekranda əks olunması;</li>
                    <li>Kitabxanaya qoşulma və ondan istifadə;</li>
                    <li>JQuery plagini ilə işin əsasları.</li>
                </ul>

                <p>Bundan başqa, tələbələr tədbirlərin sxemi qaydaları (event loop) və geri zəng (callback) funksiyaları ilə tanış  olacaqlar. Kurs müddətində tələbələr tərtibat mötərizələri, debuglarla tanış olacaq, kodları səhv predmetlər üzərində yoxlayacaqlar.</p>
                <p>Birinci  iki modul başa çatdıqdan sonra tələbələr lazımi sxemdə səhifələr yaradaraq ona interaktivlik verə biləcəklər.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Modul 3.</span>Advanced HTML/CSS</h3>
            <div class="program__module-description">
                <p>İstənilən internet səhifəsi gərək istifadəçilər üçün rahat olsun və bütün bölmələri cəlbedici, oxunaqlı görünsün. Ona görə proqram modulları sırasına səhifələmə modulu da əlavə edilib.</p>
                <p>Tələbələr bu istiqamətdə aşağıdakı bilik və bacarıqları əldə edəcəklər:</p>
                <ul>
                    <li>SCSS, SASS prosessorları;</li>
                    <li>BEM metodologiyası;</li>
                    <li>Piksel dəqiqliyi ilə səhifələmə;</li>
                    <li>Adaptiv səhifələmə;</li>
                    <li>Mobile first səhifələmə;</li>
                    <li>Layihələr yığını, Gulp və onun modulları;</li>
                    <li>Bootstrap 4-ün əsasları;</li>
                    <li>Git nəzarət sistemi versiyasından istifadənin inkişafı.</li>
                </ul>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Modul 4.</span>Advanced Java Script</h3>
            <div class="program__module-description">
                <p>Bu modul obyekt yönümlü proqramlaşdırma, layihələrin baza şablonları, funksional proqramların əsasları, ES6/ES7 (ECMAScript), MVC arxitekturasının imkanları ilə bağlı dərin biliklərin əldə olunmasına kömək göstərir.</p>
                <p>Bu modulda aşağıdakılar nəzərdən keçiriləcək:</p>
                <ul>
                    <li>Destrukturizasiya;</li>
                    <li>Kontekstin yerinə yetirilməsi – call metodu, apply, bind;</li>
                    <li>Qısaqapanma;</li>
                    <li>“Zibil yığımı” işi;</li>
                    <li>Səhvlərin email;</li>
                    <li>Obyekt yönümlü proqramlaşdırmanın əsasları;</li>
                    <li>Prototipləşdirmə;</li>
                    <li>EcmaScript6 standartları sinfi;</li>
                    <li>Drag&Drop</li>
                    <li>Müştəri xidməti arxitekturasının əsasları;</li>
                    <li>Müntəzəm ifadələrin əsasları;</li>
                    <li>POST, PUT, DELETE sorğuları;</li>
                    <li>HTTP protokolu;</li>
                    <li>Cookies;</li>
                    <li>Async/Await</li>
                </ul>
                <p>Tələbələri bu modulda Web Workers API, WebSocket, JSON, AJAX, XMLHttpRequest, Promise, Single Page Application, RESTful API haqqında ümumi məlumatlar gözləyir.</p>
                <p>Modul bu fəaliyyət sahəsində ən son standartlar əsasında tərtib edilib.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Modul 5.</span>React.js kitabxanası ilə işin əsasları</h3>
            <div class="program__module-description">
                <p>Bu modulda React.js-in köməyi ilə mürəkkəb veb-tətbiqlərin yaradılması öyrədiləcək. Tələbələr sayt və tətbiqlərin yaradılması zamanı yeni və innovativ yanaşmalar haqqında bilik və bacarıqlar qazanacaqlar. </p>
                <p>Modul aşağıdakı mövzuları özündə birləşdirir:</p>
                <ul>
                    <li>JSX səhifələməsi;</li>
                    <li>Virtual DOM;</li>
                    <li>Components;</li>
                    <li>Props-la iş /State komponenti;</li>
                    <li>React Router;</li>
                    <li>React Forms;</li>
                    <li>React hooks;</li>
                    <li>Redux;</li>
                    <li>ImmutableJS və React / Redux tətbiqləri.</li>
                </ul>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title">Əlavə vərdişlər</h3>
            <div class="program__module-description">
                <p>Kurs nəzarət sisteminin Git versiyasının öyrədilməsini nəzərdə tutur. Bu sahədə biliklər komanda işinin mükəmməl şəkildə qurulmasına kömək göstərir.</p>
                <ul>
                    <li>Git Bash-la işləmək imkanı;</li>
                    <li>Məlumat toplusu silinmə serverinə göndərilənə qədər onun yaradılması prosesindən workflow əməliyyatı;</li>
                    <li>Budaqlarla iş;</li>
                    <li>Konfiqurasiya faylları ilə iş.</li>
                </ul>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Vorkşop</span></h3>
            <div class="program__module-description">
                <p>Bütün modullar üzrə təhsil alan tələbələr İT sahəsində beynəlxalq ekspertlərin təşkil etdikləri workşop və vebinarlarda iştirak edəcəklər.</p>
                <h4>“Business İntelligence” mövzusunda vorkşop</h4>
                <p>СTələbələr “Business İntelligence” (Bİ) sferası və analitik məlumatlar üzrə anlayışlar əldə edəcək, biznes-analizin inkişafı və onun istifadəsini öyrənəcəklər. Əsas mövzular: texnologiya, qorunan məlumatların realizasiyası üçün ideyalar, məlumatların vizualizasiyası və Bİ-nin gələcək iqtiqamətləri.
                </p>
                <p>Tələbələr nələri öyrənəcəklər:</p>
                <ul>
                    <li>Biznes-analiz anlayışının formulə edilməsi;</li>
                    <li>Məlumat analizi üçün yeni alətlər haqqında biliklər;</li>
                    <li>Məlumatların  realizasiyasından ötrü ideyaların toplanması;</li>
                    <li>Bu sferanın öyrənilməsinin perspektivləri haqqında müzakirələr;</li>
                </ul>
                <h4>“Mobile Development на базе React Native” mövzusunda vorkşop</h4>
                <p>React Native eyni bir proqramlaşdırma dilinin həm Android, həm də IOS sistemində mobil tətbiqlərin yaradılması  zamanı istifadəsinə imkan verən freymvorkdur. </p>
                <p>Vorkşopda bu mövzular nəzərdən keçiriləcək:</p>
                <ul>
                    <li>React və React Native-in əsas fərqləri;</li>
                    <li>Çevrənin  qurulması;</li>
                    <li>Android  və IOS üçün quruluş layihələrinin yaradılması;</li>
                    <li>Xüsusi alətlərdən istifadə;</li>
                    <li>Tətbiqlərin saf-çürük edilməsi.</li>
                </ul>
                <h4>“Node JS” mövzusunda vorkşop</h4>
                <p>“Node JS” JavaScriptin daha geniş spektrdə istifadəsinə imkan verən platformadır.  Node JS sayəsində BackEnd dillərini dərindən öyrənmədən də tətbiqlərin server hissəsini hazırlamaq mümkün olur. </p>
                <p>Tədbirlər  bunları əhatə edir:</p>
                <ul>
                    <li>Node.js platformasına giriş;</li>
                    <li>Proqramlaşdırma üçün vasitə və alətlərin qurulması;</li>
                    <li>Tətbiqlərin təşkili, modul yanaşması;</li>
                    <li>Terminallarla iş;</li>
                    <li>Sadə veb-serverlərin təşkili, http-sorğularla iş;</li>
                    <li>Tədbirlərin tərtibi (Event Loop işinin özəllikləri);</li>
                    <li>Express freymvorku;</li>
                    <li>Node.js tətbiqinin Heroku bulud servisində yerləşdirilməsi.</li>
                </ul>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Soft skills, Texniki, ingilis dili və müsahibələrə hazırlıq</span></h3>
            <div class="program__module-description">
                <p>Kurslar arasında tələbələr öz fərdi keyfiyyətlərinin inkişafına başlayacaq və layihələrin təqdim edilməsinə hazırlaşacaqlar. Biz reallığa  maksimum yaxın tərzdə tamqiymətli müsahibə şəraiti yaradırıq. Hər tələbə üçün rezüme tərtib edir, onu öz layihə və brendlərini uğurlu şəkildə təqdim etməyə hazırlayırıq.
                </p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title">Son layihə</h3>
            <div class="program__module-description">
                <p>Tələbələr komandası kompleks final layihələr üzərində müəllimin, mentorun və kurs koordinatorunun həftəlik nəzarəti altında  çalışacaqlar. 2.5 aydan sonra tələbələr planlaşdırmadan demo-versiyaya qədər öz layihələrini təqdim edəcəklər.</p>
            </div>
        </div>
    </div>

    <div class="program__show-more">
        <div class="program__show-more-btn"></div>
        <p class="program__show-more-text">Bütün proqrama baxın</p>
    </div>
</section>