<section class="program container">
    <h2 class="program__title">Program:</h2>
    <div class="program__wrap-module">
        <div class="program__module">
            <h3 class="program__module-title"><span>Module 1.</span>HTML, CSS Basics</h3>
            <div class="program__module-description">
                <p>HTML is a logical layout tool of a web page. Using the layout structure, data can be entered on the page. During the first module, students will learn to describe this structure using HTML tags (special markers that the browser can read).</p>
                <p>Also students will study the basics of CSS to know the process of informing the correct display of HTML tags to the browser and achieve a proper page rendering according to the layout.
                </p>
                <p>The language study includes:</p>
                <ul>
                    <li>core developer tools</li>
                    <li>CSS selectors</li>
                    <li>elements design</li>
                    <li>blocks size and position control on the page</li>
                    <li>blocks elements model: margins and indents</li>
                    <li>CSS3 and HTML5 standards</li>
                    <li>basic animation</li>
                    <li>version control system basics</li>
                </ul>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Module 2.</span>JavaScript Basics</h3>
            <div class="program__module-description">
                <p>HTML defines a website layout, CSS is responsible for the appearance, and JavaScript puts everything into action.</p>
                <p>Using JavaScript code, a programmer determines a page reaction on user’s action. This module program includes introduction into language syntax and the first interactive pages writing.</p>
                <p>Students will experience the following:</p>
                <ul>
                    <li>data types, their differences and applications</li>
                    <li>type conversion</li>
                    <li>variables and naming conventions</li>
                    <li>conditions, operators, arrays, loops, functions</li>
                    <li>scope of variables</li>
                    <li>function execution context</li>
                    <li>control structures</li>
                    <li>object model</li>
                    <li>window object model</li>
                    <li>Localstorage/Sessionstorage</li>
                    <li>browser events, response to mouse clicks and keyboard keys</li>
                    <li>connection and usage of the library</li>
                    <li>jQuery plugins basics</li>
                </ul>

                <p>Also students will be familiarized with the event loop order and callback functions.</p>
                <p>During the course students will master their skills in working with developer’s console, debugging and checking the code for errors. After finishing two modules of the training, students will be able to create their first web page with a necessary layout and interactive behavior.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Module 3.</span>Advanced HTML \ CSS</h3>
            <div class="program__module-description">
                <p>Any web page should be easy to use and look decent and readable on all types of devices. For this purpose the program provides an advanced layout training module.</p>
                <p>Students will gain knowledge in the following areas:</p>
                <ul>
                    <li>preprocessors SCSS, SASS</li>
                    <li>CSS BEM methodology</li>
                    <li>layout with pixel accuracy</li>
                    <li>adaptive layout</li>
                    <li>Mobile first layout</li>
                    <li>project builders, Gulp and its modules</li>
                    <li>Git version control system advanced usage</li>
                    <li>Bootstrap 4 basics</li>
                </ul>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Module 4.</span>Advanced JavaScript</h3>
            <div class="program__module-description">
                <p>This module is a deeper immersion into object-oriented programming (OOP), basic design patterns, functional programming fundamentals, the ES6 ES7 (ECMAScript) standard capabilities, MVC architecture.</p>
                <p>The following topics are covered:</p>
                <ul>
                    <li>destructure</li>
                    <li>execution context - call, apply, bind methods</li>
                    <li>closure</li>
                    <li>"garbage collector"</li>
                    <li>error handling</li>
                    <li>object-oriented programming basics</li>
                    <li>prototyping</li>
                    <li>EcmaScript6 standard classes</li>
                    <li>Drag&Drop</li>
                    <li>client-server architecture basics</li>
                    <li>regular expressions basics</li>
                    <li>POST, PUT, DELETE requests</li>
                    <li>HTTP protocol</li>
                    <li>cookies</li>
                    <li>Async/Await</li>
                </ul>
                <p>Students will gain insights into the standards of Web Workers API, WebSocket, JSON, AJAX, XMLHttpRequest, Promise, Single Page Application, basic RESTful API.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Module 5.</span>The basics of working with the React.js library</h3>
            <div class="program__module-description">
                <p>Learning how to build a complex web app with React.js. Students will get acquainted with a fundamentally new and innovative approach in websites pages and apps сomposition.</p>
                <p>The module covers the following topics:</p>
                <ul>
                    <li>JSX layout</li>
                    <li>virtual DOM</li>
                    <li>components</li>
                    <li>work with Props / State component</li>
                    <li>React Router</li>
                    <li>React Forms</li>
                    <li>React hooks</li>
                    <li>Redux</li>
                    <li>Work with Immutable JS in a React / Redux application.</li>
                </ul>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title">Extra skills</h3>
            <div class="program__module-description">
                <p>A compulsory study of the Git version control system, that helps effectively organize teamwork is included.</p>
                <p>The following topics are explored:</p>
                <ul>
                    <li>Git Bash usage</li>
                    <li>workflow from creating a repository to sending it to a remote server</li>
                    <li>work with branches</li>
                    <li>work with configuration files</li>
                </ul>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Workshops </span></h3>
            <div class="program__module-description">
                <p>Along with all modules students are able to attend workshops and participate in webinars from international IT professionals.</p>
                <h4>Workshop “Business Intelligence”</h4>
                <p>Students will gain insights into the field of “Business Intelligence” (BI) and data analytics, learn about business analysis development and its usage. Main topic: technologies, ideas for implementation data warehousing, data visualization and the upcoming BI direction.</p>
                <p>Students will:</p>
                <ul>
                    <li>create understanding of business analysis</li>
                    <li>gain knowledge of new data analytics tools</li>
                    <li>generate ideas for data warehouse implementation</li>
                    <li>discuss the prospects for area studying </li>
                </ul>
                <h4>Workshop “Mobile Development based on React Native”</h4>
                <p>React Native is the framework that allows to use single programming language for both Android and iOS in the process of development the native mobile apps.</p>
                <p>The workshop covers the following topics:</p>
                <ul>
                    <li>React and React Native: main differences</li>
                    <li>setting the environment</li>
                    <li>creating a project build for Android and IOS</li>
                    <li>special tools usage</li>
                    <li>application debug</li>
                </ul>
                <h4>Workshop “Node JS”</h4>
                <p>Node JS is the software platform that allows to use JavaScript in a much wider applications range. Due to Node JS developing application server side without learning an additional BackEnd language became possible.</p>
                <p>The following topics are covered:</p>
                <ul>
                    <li>introduction to the Node.js platform</li>
                    <li>environment set up and development tools</li>
                    <li>apps organizing, modular approach</li>
                    <li>work with the console (terminal)</li>
                    <li>simple web server creation, work with http-requests</li>
                    <li>event processing (features of Event Loop)</li>
                    <li>Express framework</li>
                    <li>hosting Node.js app on the Heroku cloud service</li>
                </ul>
            </div>
        </div>

        <div class="program__module">
            <h3 class="program__module-title"><span>Soft skills, technical English and interview preparation</span></h3>
            <div class="program__module-description">
                <p>From the middle of the course, students simultaneously will begin to invest into development of internal qualities and start preparing for projects showcase.</p>
                <p>We will simulate full-fledged job interviews, as close as possible to real ones.</p>
                <p>We will work on each student’s CV, his skills to present the project and his brand.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Final project</span></h3>
            <div class="program__module-description">
                <p>The final project will be implemented in teams where each student has a specific role, taking into account completed tasks according to the SCRUM method.
                    Project idea: an online store with own product and unique interactive interface. At the end students have projects showcase.
                </p>
            </div>
        </div>
    </div>

    <div class="program__show-more">
        <div class="program__show-more-btn"></div>
        <p class="program__show-more-text">Show all programs</p>
    </div>
</section>