<section class="program container">
    <h2 class="program__title">Программа</h2>
    <div class="program__wrap-module">
        <div class="program__module">
            <h3 class="program__module-title"><span>Модуль 1.</span>Java Basics</h3>
            <div class="program__module-description">
                <p>Включает в себя изучение базовых принципов работы с языком программирования Java, основные принципы объектно ориентированного программирования, работу с классами, интерфейсами, коллекциями Set, Map, Queue, Stack. Так же будет рассмотрены лямбда выражения, обработка ошибок, работа с файлами.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Модуль 2.</span>Алгоритмы</h3>
            <div class="program__module-description">
                <p>Алгоритмы – важнейший модуль, с которым имеют дело студенты технических вузов. Это основа компьютерных наук, без которой невозможно успешно программировать. Полученные знания будут служить сильной технической базой при дальнейшем освоении любых технологий. В процессе данного модуля студенты освоят основные алгоритмы и структуры данных, обычные и типизированные массивы, связные списки, стеки, очереди, ассоциативные массивы. Также студенты познакомятся с хэшированием, графами, DFS и BFS, динамическим программированием, деревьями, алгоритмами кэширования и т.д. </p>
                <p>После окончания данного модуля студенты будут иметь четкое представление сложности алгоритма, будут в состоянии анализировать быстродействие программы.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Модуль 3.</span>Java Web</h3>
            <div class="program__module-description">
                <p>Целью этого модуля является научить студентов создавать и запускать в работу серверную часть web приложения, создавать базу данных, настраивать взаимодействия между ее таблицами, регулировать получение и отправку запросов на сервер.</p>
                <p>Студенты получат опыт в таких направлениях:</p>
                <ul>
                    <li>сборщик проектов Maven</li>
                    <li>Servlet API, Jettyserver</li>
                    <li>SQL запросы</li>
                    <li>создание схемы для базы данных</li>
                    <li>распределение уровней доступа</li>
                    <li>Servlet filters</li>
                    <li>cookies</li>
                    <li>аутентификация</li>
                </ul>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Модуль 4.</span>Java Frameworks, Multithreading</h3>
            <div class="program__module-description">
                <p>Мы будем изучать Java EE при написании полноценных серверных систем. Поработаем с фреймворками Spring IoC, Spring Security, Hibernate, Spring Data, базами данных SQL, NoSql, веб-серверами и многопоточностью для параллельного выполнения нескольких операций.</p>
                <p>Разберем основы и принцип работы современных фреймворков для лучшего понимания существующих стандартов в индустрии. Студентов ждет парное программирование, ориентация на проекты, изучение стилистики кода, аутентификация и авторизация, cookies, создание онлайн-магазинов.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Воркшопы.</span>Business Intelligence, Mobile Application</h3>
            <div class="program__module-description">
                <p>На протяжении всех модулей студенты смогут посещать воркшопы и участвовать в вебинарах от международных специалистов в области ИТ.</p>
                <h4>Воркшоп "Business Intelligence"</h4>
                <p>Студенты получат понимание о сфере "Business Intelligence"(BI) и аналитике данных, узнают о развитии бизнес-анализа и его использовании. Основная тема: технологии, идеи для реализации хранилищ данных, визуализация данных и будущее направления BI.</p>
                <p>Чему научатся студенты:</p>
                <ul>
                    <li>Сформируют понимание о том, что такое бизнес-анализ</li>
                    <li>Получат знания о новых инструментах аналитики данных</li>
                    <li>Сгенерируют идеи для реализации хранилища данных</li>
                    <li>Обсудят перспективы изучения этой сферы</li>
                </ul>
                <h4>Воркшоп "Mobile Development на базе React Native"</h4>
                <p>React Native — фреймворк, который позволяет использовать один язык программирования и для Android, и для IOS в разработке нативных мобильных приложений.</p>
                <p>На воркшопе будут рассмотрены такие темы:</p>
                <ul>
                    <li>React и React Native: главные отличия</li>
                    <li>Настройка окружения</li>
                    <li>Создание билда проекта для Android и IOS</li>
                    <li>Использование специальных инструментов</li>
                    <li>Дебаг приложения</li>
                </ul>
                <h4>Воркшоп "Node JS"</h4>
                <p>Node JS - программная платформа, которая позволяет использовать JavaScript в куда более широком спектре применений. Благодаря Node JS стало возможным, без изучения дополнительного BackEnd языка разрабатывать серверную часть приложений.</p>
                <p>Охват тем мероприятия:</p>
                <ul>
                    <li>введение в платформу Node.js</li>
                    <li>настройка среды и инструментов для разработки</li>
                    <li>организация приложений, модульный подход</li>
                    <li>работа с консолью (терминалом)</li>
                    <li>создание простого веб-сервера, работа с http-запросами</li>
                    <li>обработка событий (особенности работы Event Loop)</li>
                    <li>фреймворк Express</li>
                    <li>размещение Node.js приложения на облачном сервисе Heroku</li>
                </ul>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Soft skills, технический английский и подготовка к собеседованию</span></h3>
            <div class="program__module-description">
                <p>С середины курса студенты параллельно начнут заниматься развитием своих внутренних качеств и готовиться к презентации проектов.</p>
                <p>Мы создадим условия полноценных собеседований, максимально приближенные к реальным.</p>
                <p>Проработаем резюме каждого студента, поработаем над его умениями презентовать проект и свой бренд.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title">Финальный проект</h3>
            <div class="program__module-description">
                <p>Команды студентов будут работать над комплексным финальным проектом под еженедельным наблюдением преподавателя, ментора и курс-координатора.. После 2,5 месяцев  сплоченной работы, от планирования до подготовки демо-версий, студентам предстоит презентация проекта.</p>
            </div>
        </div>
    </div>
    <div class="program__show-more">
        <div class="program__show-more-btn"></div>
        <p class="program__show-more-text">Смотреть всю программу</p>
    </div>
</section>