<section class="program container">
    <h2 class="program__title">Программа</h2>
    <div class="program__wrap-module">
        <div class="program__module">
            <h3 class="program__module-title"><span>Модуль 1.</span>Основы HTML, CSS</h3>
            <div class="program__module-description">
                <p>HTML – средство логической разметки веб-страницы. Используя структуру разметки, можно вносить данные на страницу. В процессе первого модуля студенты научатся описывать эту структуру, используя HTML-теги (специальные маркеры, которые считывает браузер).</p>
                <p>Также в первом модуле студенты будут изучать основы CSS, это нужно для того, чтобы они понимали, как сообщить браузеру правильное отображение HTML-тегов и добиться красивой отрисовки страницы согласно макету.
                </p>
                <p>Обучение языку включает в себя:</p>
                <ul>
                    <li>основные инструменты разработчика</li>
                    <li>селекторы CSS, их вес, и как он вычисляется</li>
                    <li>оформление элементов</li>
                    <li>управление размером и положением блоков на странице</li>
                    <li>блочная модель элементов: границы, отступы</li>
                    <li>работу со стандартами CSS3 и HTML5</li>
                    <li>базовую анимацию</li>
                    <li>основы работы с системой контроля версий</li>
                </ul>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Модуль 2.</span>Основы JavaScript</h3>
            <div class="program__module-description">
                <p>HTML задает разметку сайта, CSS отвечает за внешний вид, а JavaScript приводит всё в действие.</p>
                <p>С помощью JavaScript-кода программист определяет, как страница отреагирует на действия пользователя. Модуль познакомит студентов с синтаксисом языка, научит им пользоваться и позволит написать первые интерактивные страницы.</p>
                <p>Студенты получат опыт в таких направлениях:</p>
                <ul>
                    <li>типы 	данных, их отличия и области применения;</li>
                    <li>преобразование типовпеременные и правила их именования</li>
                    <li>условия, операторы, массивы, циклы, функции</li>
                    <li>области видимости переменных</li>
                    <li>контекст выполнения функций</li>
                    <li>управляющие конструкции</li>
                    <li>объектная модель</li>
                    <li>объектная модель окна</li>
                    <li>localStorage/sessionStorage</li>
                    <li>браузерные события, отклик на нажатия мыши и клавиатурных клавиш</li>
                    <li>подключение и использование библиотеки jQuery</li>
                    <li>основы работы с jQuery плагинами</li>
                </ul>

                <p>Также студенты ознакомятся с порядком обработки событий (event loop), функциями обратного вызова (callback). По ходу курса студенты научатся работе с консолью разработчика, отлаживать (debug) и проверять код на предмет ошибок.</p>
                <p>После окончания первых двух модулей студенты фронтенд направления смогут создать веб-страницу с необходимой разметкой и интерактивным поведением.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Модуль 3.</span>Основы JavaScript</h3>
            <div class="program__module-description">
                <p>HTML задает разметку сайта, CSS отвечает за внешний вид, а JavaScript приводит всё в действие.</p>
                <p>С помощью JavaScript-кода программист определяет, как страница отреагирует на действия пользователя. Модуль познакомит студентов с синтаксисом языка, научит им пользоваться и позволит написать первые интерактивные страницы.</p>
                <p>Студенты получат опыт в таких направлениях:</p>
                <ul>
                    <li>типы 	данных, их отличия и области применения;</li>
                    <li>преобразование типовпеременные и правила их именования</li>
                    <li>условия, операторы, массивы, циклы, функции</li>
                    <li>области видимости переменных</li>
                    <li>контекст выполнения функций</li>
                    <li>управляющие конструкции</li>
                    <li>объектная модель</li>
                    <li>объектная модель окна</li>
                    <li>localStorage/sessionStorage</li>
                    <li>браузерные события, отклик на нажатия мыши и клавиатурных клавиш</li>
                    <li>подключение и использование библиотеки jQuery</li>
                    <li>основы работы с jQuery плагинами</li>
                </ul>

                <p>Также студенты ознакомятся с порядком обработки событий (event loop), функциями обратного вызова (callback). По ходу курса студенты научатся работе с консолью разработчика, отлаживать (debug) и проверять код на предмет ошибок.</p>
                <p>После окончания первых двух модулей студенты фронтенд направления смогут создать веб-страницу с необходимой разметкой и интерактивным поведением.</p>
            </div>
        </div>
    </div>
    <div class="program__show-more">
        <div class="program__show-more-btn"></div>
        <p class="program__show-more-text">Смотреть всю программу</p>
    </div>
</section>