<section class="program container">
    <h2 class="program__title">Proqramlar:</h2>
    <div class="program__wrap-module">
        <div class="program__module">
            <h3 class="program__module-title"><span>Modul 1.</span>Java Basics</h3>
            <div class="program__module-description">
                <p>Bura Java proqramlaşdırma dili ilə işləməyin baza prinsiplərinin öyrənilməsi, obyekt yönümlü proqramlaşdırma, siniflərlə, interfeyslərlə, Set, Map, Queue, Stack kolleksiyaları ilə iş vərdişlərinin mənimsənilməsi daxildir. Bu modulda həmçinin lyambda ifadələri, səhvlərin aradan qaldırılması, fayllarla iş də öyrədiləcək.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Modul 2.</span>Alqoritmlər</h3>
            <div class="program__module-description">
                <p>Alqoritmlər – tələbələrə ali texniki təhsil səviyyəsində bilik və bacarıqlar verən mühüm moduldur. Bu modulun əsasını kompüter elmləri təşkil edir. Onlarsız isə uğurlu proqramlaşdırma həyata keçirmək mümkün deyil. Bu modul üzrə verilən biliklər gələcəkdə istənilən texnologiyanı mənimsəyə bilməkdən ötrü güclü texniki bazanın yaradılmasına xidmət edir. Modul çərçivəsində tələbələr məlumatların əsas struktur və alqoritmlərini, adi və tipik massivləri, əlaqəli siyahıları, yığımları, növbələri, assosiativ massivləri mənimsəyəcəklər. Onlar həmçinin hashing, qrafalar, DFS və BFS, dinamik proqramlaşdırma, proqramlaşdırma ağacları, keş alqoritmləri və s. məsələlərlə tanış olacaqlar.</p>
                <p>Bu modulu başa vurduqdan sonra tələbə mürəkkəb alqoritmləri dəqiq təsəvvür edə, proqramların sürətli işini analiz edə biləcək. </p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Modul 3.</span>Java Web</h3>
            <div class="program__module-description">
                <p>Bu modulun məqsədi tələbələrə web-tətbiqlərin server hissələrini hazırlayaraq işə salmağı, verilənlər bazası yaratmağı, onların cədvəlləri arasındakı qarşılıqlı təsirləri tənzimləməyi, serverə sorğu göndərməyi və  sorğu qəbul etməyi öyrətməkdir.</p>
                <p>Tələbələr bu istiqamətlər üzrə aşağıdakı istiqamətlər üzrə təcrübə qazanacaqlar:</p>
                <ul>
                    <li>Maven layihələrinin toplusu</li>
                    <li>Servlet API, Jettyserver</li>
                    <li>SQL sorğuları</li>
                    <li>verilənlər bazaları üçün sxemlərin yaradılması</li>
                    <li>çıxış səviyyələrini paylaşdırmaq</li>
                    <li>Servlet filters</li>
                    <li>cookies</li>
                    <li>identifikasiya</li>
                </ul>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Modul 4.</span>Java Frameworks, Multithreading</h3>
            <div class="program__module-description">
                <p>Java EE-i biz tamqiymətli server sistemi yazmaqla öyrənəcəyik. Spring IoC, Spring Securety, Hibernate, Spring Data freymvorkları ilə, SQL, NoSql verilənlər bazaları, bir neçə əməliyyatın paralel tamamlanması üçün çoxşaxəli istiqamətlərlə işləyəcəyik. Bu sahədə tətbiq edilən mövcud standartların ən aydın şəkildə anlaşılması üçün müasir freymvorklarla işin nəzəriyyə və prinsiplərini təhlil edəcəyik.</p>
                <p>Tələbələr müştərək proqramlaşdırma ilə məşğul olacaq, layihələrə yönələcək, kodların üslubunu, identifikasiya və avtorizasiyanı, cookies-i, onlayn mağazalar yaratmağı öyrənəcəklər.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Vorkşop.</span>Business Intelligence, Mobile Application</h3>
            <div class="program__module-description">
                <p>Bütün modullar üzrə təhsil alan tələbələr İT sahəsində beynəlxalq ekspertlərin təşkil etdikləri workşop və vebinarlarda iştirak edəcəklər.</p>
                <h4>“Business İntelligence” mövzusunda vorkşop</h4>
                <p>Tələbələr “Business İntelligence” (Bİ) sferası və analitik məlumatlar üzrə anlayışlar əldə edəcək, biznes-analizin inkişafı və onun istifadəsini öyrənəcəklər.
                    Əsas mövzular: texnologiya, qorunan məlumatların realizasiyası üçün ideyalar, məlumatların vizualizasiyası və Bİ-nin gələcək iqtiqamətləri. </p>
                <p>Tələbələr nələri öyrənəcəklər:</p>
                <ul>
                    <li>Biznes-analiz anlayışının formulə edilməsi</li>
                    <li>Məlumat analizi üçün yeni alətlər haqqında biliklər</li>
                    <li>Məlumatların  realizasiyasından ötrü ideyaların toplanması</li>
                    <li>Bu sferanın öyrənilməsinin perspektivləri haqqında müzakirələr</li>
                </ul>
                <h4>“Mobile Development на базе React Native” mövzusunda vorkşop</h4>
                <p>React Native eyni bir proqramlaşdırma dilinin həm Android, həm də IOS sistemində mobil tətbiqlərin yaradılması  zamanı istifadəsinə imkan verən freymvorkdur. </p>
                <p>Vorkşopda bu mövzular nəzərdən keçiriləcək:</p>
                <ul>
                    <li>React və React Native-in əsas fərqləri</li>
                    <li>Çevrənin  qurulması</li>
                    <li>Android  və IOS üçün quruluş layihələrinin yaradılması</li>
                    <li>Xüsusi alətlərdən istifadə</li>
                    <li>Tətbiqlərin saf-çürük edilməsi</li>
                </ul>
                <h4>“Node JS” mövzusunda vorkşop</h4>
                <p>“Node JS” JavaScriptin daha geniş spektrdə istifadəsinə imkan verən platformadır.  Node JS sayəsində BackEnd dillərini dərindən öyrənmədən də tətbiqlərin server hissəsini hazırlamaq mümkün olur</p>
                <ul>
                    <li>Tədbirlər  bunları əhatə edir</li>
                    <li>Node.js platformasına giriş</li>
                    <li>Proqramlaşdırma üçün vasitə və alətlərin qurulması</li>
                    <li>Tətbiqlərin təşkili, modul yanaşması</li>
                    <li>Terminallarla iş</li>
                    <li>Sadə veb-serverlərin təşkili, http-sorğularla iş</li>
                    <li>Tədbirlərin tərtibi (Event Loop işinin özəllikləri)</li>
                    <li>Express freymvorku</li>
                </ul>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Soft skills, Texniki, ingilis dili və müsahibələrə hazırlıq</span></h3>
            <div class="program__module-description">
                <p>Təlimlər arasında tələbələr öz fərdi keyfiyyətlərinin inkişafına başlayacaq və layihələrin təqdim edilməsinə hazırlaşacaqlar. Biz reallığa  maksimum yaxın tərzdə tamqiymətli müsahibə şəraiti yaradırıq. Hər tələbə üçün rezüme tərtib edir, onu öz layihə və brendlərini uğurlu şəkildə təqdim etməyə hazırlayırıq.
                </p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title">Son layihə</h3>
            <div class="program__module-description">
                <p>Tələbələr komandası kompleks final layihələr üzərində müəllimin, mentorun və kurs koordinatorunun həftəlik nəzarəti altında  çalışacaqlar. 2.5 aydan sonra tələbələr planlaşdırmadan demo-versiyaya qədər öz layihələrini təqdim edəcəklər.</p>
            </div>
        </div>
    </div>
    <div class="program__show-more">
        <div class="program__show-more-btn"></div>
        <p class="program__show-more-text">Proqrama baxın</p>
    </div>
</section>