<section class="program container">
    <h2 class="program__title">PROGRAM</h2>
    <div class="program__wrap-module">
        <div class="program__module">
            <h3 class="program__module-title"><span>Module 1.</span>Java Basics</h3>
            <div class="program__module-description">
                <p>It includes studying Java basic principles, object-oriented programming basic principles, classes, interfaces, collections Set, Map, Queue, Stack. Lambda expressions, error handling, file handling will also be covered during module 1.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Module 2.</span>Algorithms</h3>
            <div class="program__module-description">
                <p>Algorithms is the most important module that students from technical universities deal with. This is the basis of computer science. Successful coding can’t be possible without proficiency in algorithms.</p>
                <p>Gained knowledge will serve as a strong technical base for future obtaining of any technology. During this module, students will master basic algorithms and data structures, regular and typed arrays, linked lists, stacks, queues, associative arrays. Students will also learn about hashing, graphs, DFS and BFS, dynamic programming, trees, caching algorithms, etc.</p>
                <p>After completing the module, students will have a clear picture of the algorithm complexity, will be able to analyze the program performance.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Module 3.</span>Java Web</h3>
            <div class="program__module-description">
                <p>The aim of this module is to teach students to create and launch the web app server part, create a database, configure interactions between its tables, regulate the receipt and sending of requests to the server.</p>
                <p>Students will gain experience in the following areas:</p>
                <ul>
                    <li>Maven project builder</li>
                    <li>Servlet API, Jettyserver</li>
                    <li>SQL queries</li>
                    <li>creating a database scheme</li>
                    <li>access levels distribution</li>
                    <li>Servlet filters</li>
                    <li>Cookies</li>
                    <li>Authentication</li>
                </ul>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Module 4.</span>Java Frameworks, Multithreading</h3>
            <div class="program__module-description">
                <p>In the process of writing complete server systems Java EE will be studied. The frameworks of Spring IoC, Spring Security, Hibernate, Spring Data, SQL databases, NoSql, web servers will be worked through as well as multithreading for parallel execution of several operations.</p>
                <p>For better understanding of existing standards in the industry the basics and the principle of modern frameworks operations will be analyzed. Students will practise pair coding, projects focus, studying the code style, authentication and authorization, cookies, creating online stores.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Workshops</span>Business Intelligence / Mobile Application</h3>
            <div class="program__module-description">
                <p>Along with all modules students are able to attend workshops and participate in webinars from international IT professionals.</p>
                <h4>Workshop “Business Intelligence”</h4>
                <p>Students will gain insights into the field of Business Intelligence (BI) and data analytics, learn about business analysis development and its usage. Main topic: technologies, ideas for implementation data warehousing, data visualization and the upcoming BI direction.</p>
                <p>Students will:</p>
                <ul>
                    <li>create understanding of business analysis</li>
                    <li>gain knowledge of new data analytics tools</li>
                    <li>generate ideas for data warehouse implementation</li>
                    <li>discuss the prospects for area studying</li>
                </ul>
                <h4>Workshop "Mobile Development Based on React Native"</h4>
                <p>React Native is the framework that allows you to use single programming language for both Android and iOS in the process of development the native mobile apps.</p>
                <p>The workshop covers the following topics:</p>
                <ul>
                    <li>React and React Native: main differences</li>
                    <li>setting the environment</li>
                    <li>creating a project build for Android and IOS</li>
                    <li>special tools usage</li>
                    <li>application debug</li>
                </ul>
                <h4>Workshop “Node JS”</h4>
                <p>Node JS is the software platform that allows you to use JavaScript in a much wider applications range. Due to Node JS developing application server side without learning an additional BackEnd language became possible.</p>
                <p>The following topics are covered:</p>
                <ul>
                    <li>introduction to the Node.js platform</li>
                    <li>environment set up and development tools</li>
                    <li>apps organizing, modular approach</li>
                    <li>work with the console (terminal)</li>
                    <li>simple web server creation, work with http-requests</li>
                    <li>event processing (features of Event Loop)</li>
                    <li>Express framework</li>
                    <li>hosting Node.js app on the Heroku cloud service</li>
                </ul>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Soft skills, technical English and interview preparation</span></h3>
            <div class="program__module-description">
                <p>From the middle of the course, students simultaneously will begin to invest into development of internal qualities and start prepare for projects showcase.</p>
                <p>We will simulate full-fledged job interviews, as close as possible to real ones.</p>
                <p>We will work on each student’s CV, his skills to present the project and his brand.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title">Final project</h3>
            <div class="program__module-description">
                <p>Students will work on a comprehensive final project in teams under weekly supervision of the teacher, the mentor and the course facilitator.  After 2.5 months of solid teamwork, from planning to preparing demo versions, students will have to present the project.</p>
            </div>
        </div>
    </div>
    <div class="program__show-more">
        <div class="program__show-more-btn"></div>
        <p class="program__show-more-text">Show all program</p>
    </div>
</section>