<section class="program container">
    <h2 class="program__title">Программа</h2>
    <div class="program__wrap-module">
        <div class="program__module">
            <h3 class="program__module-title"><span>Модуль 1.</span>Java Basics</h3>
            <div class="program__module-description">
                <p>Включает в себя изучение базовых принципов работы с языком программирования Java, основные принципы объектно ориентированного программирования, работу с классами, интерфейсами, коллекциями Set, Map, Queue, Stack. Так же будет рассмотрены лямбда выражения, обработка ошибок, работа с файлами.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Модуль 2.</span>Алгоритмы</h3>
            <div class="program__module-description">
                <p>Алгоритмы – важнейший модуль, с которым имеют дело студенты технических вузов. Это основа компьютерных наук, без которой невозможно успешно программировать. Полученные знания будут служить сильной технической базой при дальнейшем освоении любых технологий. В процессе данного модуля студенты освоят основные алгоритмы и структуры данных, обычные и типизированные массивы, связные списки, стеки, очереди, ассоциативные массивы. Также студенты познакомятся с хэшированием, графами, DFS и BFS, динамическим программированием, деревьями, алгоритмами кэширования и т.д. </p>
                <p>После окончания данного модуля студенты будут иметь четкое представление сложности алгоритма, будут в состоянии анализировать быстродействие программы.</p>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Модуль 3.</span>Java Web</h3>
            <div class="program__module-description">
                <p>Целью этого модуля является научить студентов создавать и запускать в работу серверную часть web приложения, создавать базу данных, настраивать взаимодействия между ее таблицами, регулировать получение и отправку запросов на сервер.</p>
                <p>Студенты получат опыт в таких направлениях:</p>
                <ul>
                    <li>сборщик проектов Maven</li>
                    <li>Servlet API, Jettyserver</li>
                    <li>SQL запросы</li>
                    <li>создание схемы для базы данных</li>
                    <li>распределение уровней доступа</li>
                    <li>Servlet filters</li>
                    <li>cookies</li>
                    <li>аутентификация</li>
                </ul>
            </div>
        </div>
        <div class="program__module">
            <h3 class="program__module-title"><span>Модуль 3.</span>Java Frameworks, Multithreading</h3>
            <div class="program__module-description">
                <p>Мы будем изучать Java EE при написании полноценных серверных систем. Поработаем с фреймворками Spring IoC, Spring Security, Hibernate, Spring Data, базами данных SQL, NoSql, веб-серверами и многопоточностью для параллельного выполнения нескольких операций.</p>
                <p>Разберем основы и принцип работы современных фреймворков для лучшего понимания существующих стандартов в индустрии. Студентов ждет парное программирование, ориентация на проекты, изучение стилистики кода, аутентификация и авторизация, cookies, создание онлайн-магазинов.</p>
            </div>
        </div>
    </div>
    <div class="program__show-more">
        <div class="program__show-more-btn"></div>
        <p class="program__show-more-text">Смотреть всю программу</p>
    </div>
</section>