@font-face {
  font-family: 'Arial MT Std Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Arial MT Std Italic'), url('arial-mt-std-italic-586c358cbc0a5.woff') format('woff');
}


@font-face {
  font-family: 'Arial MT Std Light';
  font-style: normal;
  font-weight: normal;
  src: local('Arial MT Std Light'), url('arial-mt-std-light-586c341645fe0.woff') format('woff');
}


@font-face {
  font-family: 'Arial MT Std Light Cond';
  font-style: normal;
  font-weight: normal;
  src: local('Arial MT Std Light Cond'), url('arial-mt-std-light-cond-586c34fca466a.woff') format('woff');
}


@font-face {
  font-family: 'Arial MT Std Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Arial MT Std Light Italic'), url('arial-mt-std-light-italic-586c34c0cf3af.woff') format('woff');
}


@font-face {
  font-family: 'Arial MT Std Cond';
  font-style: normal;
  font-weight: normal;
  src: local('Arial MT Std Cond'), url('arial-mt-std-cond-586c3568cef79.woff') format('woff');
}


@font-face {
  font-family: 'Arial MT Std Bold Cond';
  font-style: normal;
  font-weight: normal;
  src: local('Arial MT Std Bold Cond'), url('arial-mt-std-bold-cond-586c34dd7068c.woff') format('woff');
}


@font-face {
  font-family: 'Arial MT Std Extra Bold Cond';
  font-style: normal;
  font-weight: normal;
  src: local('Arial MT Std Extra Bold Cond'), url('arial-mt-std-extra-bold-cond-586c351f4de8a.woff') format('woff');
}


@font-face {
  font-family: 'Arial MT Std Black';
  font-style: normal;
  font-weight: normal;
  src: local('Arial MT Std Black'), url('arial-mt-std-black-586c347abdbc8.woff') format('woff');
}


@font-face {
  font-family: 'Arial Narrow MT Std';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Narrow MT Std'), url('arial-narrow-mt-std-586c349ae6be1.woff') format('woff');
}


@font-face {
  font-family: 'Arial MT Std Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Arial MT Std Medium'), url('arial-mt-std-medium-586c3458cbe17.woff') format('woff');
}


@font-face {
  font-family: 'Arial MT Std Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Arial MT Std Medium Italic'), url('arial-mt-std-medium-italic-586c35bd992c0.woff') format('woff');
}


@font-face {
  font-family: 'Arial MT Std Extra Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Arial MT Std Extra Bold'), url('arial-mt-std-extra-bold-586c3439e8b1b.woff') format('woff');
}