@media (min-width: $screen980) {
  .stages-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .stages__block{
    width: 49%;
  }
  .stages {
    &__title {
      font-size: 52px;
      text-align: left;
      margin-bottom: 22px;
    }
    &__block{
      &_main-block{
        &_text{
          line-height: 1.35;
          margin-left: 75px;
          margin-top: 20px;
        }
        &_title{
          font-size: 29px;
          padding-bottom: 5px;
        }
      }
    }
  }
}