.stages{
  width: 100%;

  & > .container {
    padding: 0;
  }

  &__title{
    background-color: #ffffff;
    color: #000000;
    font-size: $h3;
    font-family: Arial, sans-serif;
    padding: 40px 20px 10px;
  }
  &__block{
    padding: 0 20px;
    margin-bottom: 20px;
    background-color: $milk;
    &_main-block{
      display: flex;
      align-items: center;
      border-bottom: 3px solid #00b5ad;
      &_text{
        font-size: 18px;
        line-height: 1.22;
        margin-top: 11px;
        font-family: Arial, sans-serif;
      }
      &_title{

        color: $darkBlue;
        font-size: $p3;
        text-align: left;
        padding-top: 5px;
        font-family: Arial, sans-serif;
        &_number{
          padding: 20px 30px 20px 20px;
          color: $darkBlue;
          font-size: 42px;
          font-family: Arial, sans-serif;
        }
      }
    }
  }
}