<section class="stages" id="stages">
    <div class="container">
        <h2 class="stages__title">Этапы поступления</h2>
        <div class="stages-wrapper">
                <div class="stages__block">
                    <div class="stages__block_main-block">
                            <span class="stages__block_main-block_title_number">1</span>
                        <p class="stages__block_main-block_title">Регистрация</p>
                    </div>
                    <p class="stages__block_main-block_text">На этапе подачи заявки кандидатам необходимо предоставить информацию о себе, а также ответить на несколько вопросов.</p>
                </div>
                <div class="stages__block">
                    <div class="stages__block_main-block">
                        <span class="stages__block_main-block_title_number">2</span>
                        <p class="stages__block_main-block_title">Тестирование Adam Milo</p>
                    </div>
                    <p class="stages__block_main-block_text">После регистрации абитуриенты получают задание по прохождению тестирования на логическое и пространственное мышление по методике компании Adam Milo. Это первое тестирование, предназначенное выяснить, насколько хорошо у человека развита способность выполнять поставленную задачу, ясно и чётко мыслить, проявлять смекалку и внимательность к деталям.
                    </p>
                </div>
                <div class="stages__block">
                    <div class="stages__block_main-block">
                        <span class="stages__block_main-block_title_number">3</span>
                        <p class="stages__block_main-block_title">Техническое тестирование</p>
                    </div>
                    <p class="stages__block_main-block_text">
                        Кандидаты, допущенные ко второму этапу, пройдут тестирование на технические способности. Тест покажет, насколько кандидат умеет справляться с простой поставленной задачей, и каким образом соответствует той или иной программе курсов.
                    </p>
                </div>
                <div class="stages__block">
                    <div class="stages__block_main-block">
                        <span class="stages__block_main-block_title_number">4</span>
                        <p class="stages__block_main-block_title">Собеседование и зачисление
                        </p>
                    </div>
                    <p class="stages__block_main-block_text">
                        Финальным этапом отбора станет профильное собеседование с организаторами курса. Собеседование будет проводиться в онлайн-формате. Каждому будущему студенту необходимо подробнее рассказать о себе, а комиссия определит личностную предрасположенность к обучению.
                    </p>
                </div>
         </div>
    </div>
</section>