<section class="stages" id="stages">
    <div class="container">
        <h2 class="stages__title">Этапы поступления</h2>
        <div class="stages-wrapper">
                <div class="stages__block">
                    <div class="stages__block_main-block">
                            <span class="stages__block_main-block_title_number">1</span>
                        <p class="stages__block_main-block_title">Регистрация и мотивационное письмо</p>
                    </div>
                    <div class="stages__block_main-block_text">На этапе подачи заявки кандидатам предлагается написать мотивационное письмо не более чем на 500 знаков. В письме требуется указать, почему кандидат видит себя студентом этой программы, как и где собирается применять полученные знания.</div>
                </div>
                <div class="stages__block">
                    <div class="stages__block_main-block">
                        <span class="stages__block_main-block_title_number">2</span>
                        <p class="stages__block_main-block_title">Тестирование по методике Adam Milo</p>
                    </div>
                    <div class="stages__block_main-block_text">После мотивационной части абитуриенты, которые переходят на второй этап, получают задание по прохождению тестирования на логическое и абстрактное мышление по методике компании Adam-Milo. Это первое тестирование, предназначенное выяснить, насколько хорошо у человека развита способность отвечать на поставленную задачу, ясно и чётко мыслить, проявлять смекалку и внимательность к деталям.
                    </div>
                </div>
                <div class="stages__block">
                    <div class="stages__block_main-block">
                        <span class="stages__block_main-block_title_number">3</span>
                        <p class="stages__block_main-block_title">Тестирование на предрасположенность к программированию</p>
                    </div>
                    <div class="stages__block_main-block_text">
                        На этапе подачи заявки кандидатам предлагается написать мотивационное письмо не более чем на 500 знаков. В письме требуется указать, почему кандидат видит себя студентом этой программы, как и где собирается применять полученные знания.
                    </div>
                </div>
                <div class="stages__block">
                    <div class="stages__block_main-block">
                        <span class="stages__block_main-block_title_number">4</span>
                        <p class="stages__block_main-block_title">Собеседование и зачисление на курс обучения
                        </p>
                    </div>
                    <div class="stages__block_main-block_text">
                        На этапе подачи заявки кандидатам предлагается написать мотивационное письмо не более чем на 500 знаков. В письме требуется указать, почему кандидат видит себя студентом этой программы, как и где собирается применять полученные знания.
                    </div>
                </div>
         </div>
    </div>
</section>