<section class="stages" id="stages">
    <div class="container">
        <h2 class="stages__title">Qəbul mərhələləri</h2>
        <div class="stages-wrapper">
            <div class="stages__block">
                <div class="stages__block_main-block">
                    <span class="stages__block_main-block_title_number">1</span>
                    <p class="stages__block_main-block_title">Qeydiyyat</p>
                </div>
                <p class="stages__block_main-block_text">Namizəd ərizə formasında özü haqqında lazımi məlumatları göstərməli, eyni zamanda bir neçə suala cavab verməlidir. </p>
            </div>
            <div class="stages__block">
                <div class="stages__block_main-block">
                    <span class="stages__block_main-block_title_number">2</span>
                    <p class="stages__block_main-block_title">Adam Milo testi</p>
                </div>
                <p class="stages__block_main-block_text">Ərizə göndərərək qeydiyyata alındıqdan sonra namizəd məntiqi təfəkkür qabiliyyətinin yoxlanması üçün Adam Milo testindən keçir. Belə bir test namizədin verilmiş tapşırıqları icra etmə, dəqiq və aydın düşüncə, detallara diqqət qabiliyyətini yoxlamağa kömək göstərir.
                </p>
            </div>
            <div class="stages__block">
                <div class="stages__block_main-block">
                    <span class="stages__block_main-block_title_number">3</span>
                    <p class="stages__block_main-block_title">Texniki test</p>
                </div>
                <p class="stages__block_main-block_text">
                    Növbəti mərhələyə keçən namizədlərin texniki bilik və bacarıqları yoxlanır. Belə bir testləşdirmə namizədin proqramlaşdırma üzrə sadə texniki tapşırıqları yerinə yetirmə qabiliyyətini müəyyən etməyə imkan verir.
                </p>
            </div>
            <div class="stages__block">
                <div class="stages__block_main-block">
                    <span class="stages__block_main-block_title_number">4</span>
                    <p class="stages__block_main-block_title">Müsahibə və kurslara qəbul
                    </p>
                </div>
                <p class="stages__block_main-block_text">
                    Sonuncu mərhələdə təlim təşkilatçıları tərəfindən namizədlərlə müsahibə aparılır. Müsahibə onlayn formatda həyata keçirilir. Hər bir gələcək tələbə özü haqqında ətraflı danışır, komissiya onun təlimlərə fərdi marağını dəyərləndirir.
                </p>
            </div>
        </div>
    </div>
</section>