<section class="stages" id="stages">
    <div class="container">
        <h2 class="stages__title">To become a student</h2>
        <div class="stages-wrapper">
                <div class="stages__block">
                    <div class="stages__block_main-block">
                            <span class="stages__block_main-block_title_number">1</span>
                        <p class="stages__block_main-block_title">Registration</p>
                    </div>
                    <p class="stages__block_main-block_text">On the stage of application submitting all candidates have to fill in personal information and answer a few questions.</p>
                </div>
                <div class="stages__block">
                    <div class="stages__block_main-block">
                        <span class="stages__block_main-block_title_number">2</span>
                        <p class="stages__block_main-block_title">Adam Milo testing</p>
                    </div>
                    <p class="stages__block_main-block_text">After registration all applicants receive a test assignment for logical and spatial thinking according to Adam Milo method. Testing on the first stage is designed to evaluate candidate’s ability to perform the objective, think clearly, get creative and attentive to details.
                    </p>
                </div>
                <div class="stages__block">
                    <div class="stages__block_main-block">
                        <span class="stages__block_main-block_title_number">3</span>
                        <p class="stages__block_main-block_title">Technical testing</p>
                    </div>
                    <p class="stages__block_main-block_text">
                        Candidates admitted to the second stage are tested for technical abilities. The test shows candidate’s ability to cope with a simple objective and evaluates his or her correspondence to a particular curriculum.
                    </p>
                </div>
                <div class="stages__block">
                    <div class="stages__block_main-block">
                        <span class="stages__block_main-block_title_number">4</span>
                        <p class="stages__block_main-block_title">Interview and Enrollment
                        </p>
                    </div>
                    <p class="stages__block_main-block_text">
                        The final stage of selection is a profession-oriented online interview with the course authors. Potential students need to make a introduction, and the committee determine a personal predisposition to learning.
                    </p>
                </div>
         </div>
    </div>
</section>