.about {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;

  &-item {

    &__article {
      background-color: $milk;
      padding: 20px;

      &-title {
        font-size: $h3;
      }

      &-splitter {
        border-top: 3px solid $aquamarine;
        margin: 14px 0;
      }

      &-text {
        font-size: $p3;
        line-height: 1.22;
      }

    }

    &__image-box {
      display: inline-block;
      width: 100%;
      padding: 20px;
    }

    &__image {
      height: 100vw;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;


      &--1 {
        background-image: url("../img/about/about_1.png");

      }

      &--2 {
        background-image: url("../img/about/about_2.png");

      }

    }

  }

  &-sponsors {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px 32px;

    &__title {
      font-size: 28px;
      color: $lightBlue;
      margin-top: 12px;
      margin-right: 16px;
    }

    &__sponsor-1 {
      margin-top: 12px;
    }

    &__sponsor-2 {
      margin-top: 12px;
    }
  }

  & span {
    font-weight: bold;
  }

}


@media (min-width: $screen580) {
  .about {

    &-item {

      &__article {
        padding-left: 40px;
        padding-right: 40px;
      }

      &__image-box {
        padding-left: 40px;
        padding-right: 40px;
      }
    }

    &-sponsors {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

@media (min-width: $screen760) {
  .about {

    &-item {

      &__article {
        padding-left: 60px;
        padding-right: 60px;
      }

      &__image-box {
        padding-left: 60px;
        padding-right: 60px;
      }
    }

    &-sponsors {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}

@media (min-width: $screen980) {
  .about {

    &-item {
      display: flex;
      justify-content: space-between;
      padding-left: 80px;
      padding-right: 80px;

      &__article {
        width: calc(100% / 2 - 10px);
        padding: 28px;
      }

      .about-item--reverse-order &__article {
        order: 2;
      }

      &__image-box {
        width: calc(100% / 2 - 10px);
        padding: 0;
      }

      .about-item--reverse-order &__image-box {
        order: 1;
      }

      &__image {
        height: 100%;
      }
    }

    &-sponsors {
      padding-top: 15px;
      padding-left: 80px;
      padding-right: 80px;
    }

  }
}

@media (min-width: $screen1024) {
  .about {

    &-item {
      padding-left: 0;
      padding-right: 0;
      max-width: 1024px;
      margin: 0 auto;
    }

    &-sponsors {
      padding-left: 0;
      padding-right: 0;
      width: 1024px;
      margin: 0 auto;
    }

  }
}
