<section id="about" class="about">
    <div class="about-item">
        <article class="about-item__article">
            <h2 class="about-item__article-title">О проекте</h2>
            <p class="about-item__article-splitter"></p>
            <div class="about-item__article-text">
                <p><strong class="txt-bold">IBA Tech</strong> Академия – образовательный проект Международного Банка Азербайджана при поддержке учебного центра по подготовке ІТ-специалистов <a href="https://dan-it.com.ua" class="txt-bold" target="new">DAN IT education.</a> На данном этапе программа Академии состоит из интенсивных bootcamp-курсов по основным направлениям программирования. На курсы по результатам 4 этапов отбираются желающие обучаться и развиваться в мире IT.</p>
                <p>IBA Tech Академия реализована в рамках корпоративной социальной ответственности Международного Банка Азербайджана.</p>
                <p class="about-item__article-text--bold">Обучение в академии является бесплатным.</p>
                <p>Миссия Академии – развитие азербайджанского рынка информационных технологий в соответствии с международными стандартами и требованиями будущего, а также обеспечение доступного обучения для нового поколения профессионалов в одной из перспективной сфере труда.</p>
            </div>
        </article>
        <div class="about-item__image-box">
            <img src="../../img/about/about_1.jpg" alt="" class="about-item__img">
        </div>
    </div>
<!--    <div class="about-sponsors">-->
<!--        <div class="about-sponsors__title">Организаторы:</div>-->
<!--        <div class="about-sponsors__sponsor-1">-->
<!--            <img src="../../img/about/bank_logo.png" alt="bank_logo.png">-->
<!--        </div>-->
<!--        <div class="about-sponsors__sponsor-2">-->
<!--            <img src="../../img/about/dan.it_logo.png" alt="dan.it_logo.png">-->
<!--        </div>-->
<!--    </div>-->
    <div class="about-item about-item--reverse-order">
        <article class="about-item__article">
            <h2 class="about-item__article-title">Что предлагаем</h2>
            <p class="about-item__article-splitter"></p>
            <div class="about-item__article-text">
                <p>Обучение в IBA Tech Академии – шанс реализовать себя в самой популярной сфере труда в мире на данный момент, сфере информационных технологий.</p>
                <p class="about-item__article-text--bold">Обучение в Академии открыто для всех желающих попробовать себя в сфере программирования. Даже если вы ранее никогда не сталкивались с написанием кода – это ваш шанс проявить себя, чтобы в будущем реализоваться как программист.</p>
                <p>На данный момент, сфера ИТ в Азербайджане стремительно развивается. Не упустите момент быть в числе первых, кто откроет для себя мир технологий и станет одним из самых востребованных специалистов на рынке страны.</p>
            </div>
        </article>
        <div class="about-item__image-box">
            <img src="../../img/about/about_2.jpg" alt="" class="about-item__img">
        </div>
    </div>

    <div id="modal-bank" class="modal-window__underlay">
        <div class="modal-window__box container">
            <div class="modal-btn-close">
                <img src="../../img/about/modal-btn-close.png" alt="modal-btn-close.png">
            </div>
            <h3 class="modal-title">Международный Банк Азербайджана (МБА)</h3>
            <div class="modal-text">
                <p>
                    Международный Банк Азербайджана является крупнейшим финансовым институтом республики и региона. С датой основания в 1992 году, банк олицетворяет современный независимый Азербайджан, являясь его ровесником, и подтверждая свой высокий статус обеспечения финансовых и кредитных услуг на международном рынке.
                </p>
                <p>
                    Это подтверждается членством МБА  в S.W.I.F.T.е, Reuters, платежных системах MasterCard Worldwide, Visa International, American Express, Diners Club, JCB International и UnionPay.  МБА – учредитель Бакинской межбанковской валютной биржи, Бакинской фондовой биржи, процессингового центра "AzeriCard", "Международной Страховой компании", лизинговой компании "Азерилизинг" и т. д. Является одним из 1000 крупнейших и самых устойчивых банков мира.  Сегодня число клиентов Международного Банка Азербайджана составляет около 1 млн физических и юридических лиц.
                </p>
                <p>
                    Главной миссией считает стабильность азербайджанской финансовой системы, внедрение инновационных технологий для повышения уровня представления банковских услуг и социально-экономического развития страны. Поэтому с сентября 2019 года Банк реализует программу корпоративной социальной ответственности (КСО), в рамках которой запускает IBA Tech Academy с доступным обучением программистов и последующим трудоустройством лучших из них.
                </p>
            </div>
            <a href="https://ibar.az/ru/">Перейти на сайт</a>
        </div>
    </div>

    <div id="modal-danit" class="modal-window__underlay">
        <div class="modal-window__box container">
            <div class="modal-btn-close">
                <img src="../../img/about/modal-btn-close.png" alt="modal-btn-close.png">
            </div>
            <h3 class="modal-title">DAN.IT education</h3>
            <div class="modal-text">
                <p>
                    Учебный центр DAN.IT education основан в Киеве в 2017 году по израильской модели обучения IT-специалистов.  Обучение реализовано в формате подготовки по методике Telem, которая основывается на практическом поэтапном подходе к обучению, менторской помощи и интенсивным занятиям.
                </p>
                <p>
                    Студенты DAN.IT  выбирают между направлениями Full Stack, FrontEnd, Interaction (UI / UX design), Digital Marketing, доступны также курсы программирования для подростков и детей. В августе 2019 года запущен новый курс – Software Engineering. Курсы дополняются еженедельными семинарами и воркшопами от приглашенных украинских и международных спикеров, занятых в IT-индустрии, которые делятся своим опытом.
                </p>
                <p>
                    У центра есть поддержка со стороны Наблюдательного совета, состоящего из представителей украинских и международных  IT-компаний. Совет, а также реальные заказчики, предлагают студентам идеи для реализации, на основе которых те разрабатывают и защищают свои проекты, тренируют soft skills и учатся презентовать результаты.
                </p>
                <p>
                    Инициаторы открытия DAN.IT education в Украине известны созданием сети школ John Bryce Training в Израиле, которые выпускают на рынок страны более 70% специалистов сферы hi-tech. Учебный центр в Киеве за 2 года существования также может похвастаться высокими результатами: обучено более 1000 выпускников, а уровень трудоустройства достиг 73%. В планах DAN.IT education – запуск новых программ, открытие филиалов в областях Украины и запуск проекта в Минске, Беларусь.
                </p>
            </div>
            <a href="https://dan-it.com.ua/">Перейти на сайт</a>
        </div>
    </div>

</section>