<article id="about" class="about-item__article about--frontend">
    <div class="container">
        <h2 class="about-item__article-title">Proqram haqqında</h2>
        <p class="about-item__article-splitter"></p>
        <div class="about-item__article-text">
            <p>Frontend proqramlaşdırma sferasına yeni başlayan şəxslər üçün nəzərdə tutulmuş proqramdır. Məsələləri yaradıcı şəkildə həll etməyi sevən, saytların vizual, müştəri və ziyarətçi hissələri üzərində çalışmaq istəyən hər kəsə bu kurs  tövsiyə edilir. Kurs proqramı bu sahədə bilik səviyyənizi yüksəltməyə kömək göstərəcək. Hər zaman yanınızda olan mentorlar isə bütün vacib bilikləri əldə etməyinizə dəstək verəcəklər.

            <p>Biz bu proqram çərçivəsində ən populyar proqramlaşdırma dillərindən JavaScripti, React.js-i öyrənəcək, Git-lə işləyəcəyik. Kursda İsrail proqramçılarının real həyatdan seçdikləri və sektordakı son standartlara uyğun nümunələr illüstrasiya olunacaq.

            <p>Tələbələr 5 modulu özündə birləşdirən proqram keçəcəklər. Bundan başqa, BackEnd əsasında Node JS, Mobile App, Business İntelligent-lə bağlı vorkşoplar təşkil olunacaq. Tələbələr mürəkkəb tapşırıqları fərdi və ya qruplar şəklində həll edəcək, qazandıqları bilikləri öz layihələrində təqdim etmək şansı qazanacaq, beləliklə layihələrini və özlərini təqdim etmək imkanına malik olacaqlar. </p>
            </p>
        </div>
    </div>
</article>