<article id="about" class="about-item__article about--frontend">
    <div class="container">
        <h2 class="about-item__article-title">О программе</h2>
        <p class="about-item__article-splitter"></p>
        <div class="about-item__article-text">
            <p>Frontend-направление рассчитано на начинающих разработчиков и тех, кто приходит в сферу с нуля. Если вы любите решать задачи креативно, хотите работать над клиентской и визуальной частью сайтов или посадочных страниц, понимаете, что такое компьютерная верстка, мы рекомендуем это направление.  Программа даст толчок к продвинутому уровню, а менторы всегда будут рядом, чтобы помочь освоиться и получить все возможные необходимые знания.

            <p>Мы будем изучать один из самых популярных языков программирования JavaScript, React. js, работать с Git. Курс проиллюстрирован примерами из реальной жизни, одобрен израильскими программистами, поэтому соответствует последним стандартам рынка.</p>

            <p>Студенты пройдут программу, которая включает 5 модулей, посетят воркшопы, в том числе по основам BackEnd с использованием NodeJS, Mobile App, Business Inteligent. Научим решать сложные задачи индивидуально и в группах. Все выпускники получат шанс показать приобретенные навыки на основе своих проектов. Студенты приобретут опыт и научатася презетовать себя и свою работу.</p>
            </p>
        </div>
    </div>
</article>