<article id="about" class="about-item__article about--frontend">
    <div class="container">
        <h2 class="about-item__article-title">Proqram haqqında</h2>
        <p class="about-item__article-splitter"></p>
        <div class="about-item__article-text">
            <p>BackEnd-ə gələcək peşəyə doğru ciddi bir addım kimi baxırsınız? Javanı dərindən öyrənmək çoxdankı arzunuzdur? Elə bu kurs da həm alqoritmlər, həm də mobil tətbiqlərin və saytların serverləri ilə iş sahəsində ekspert səviyyəsində yetişəcək peşəkar proqramçıların hazırlanmasına hesablanıb.</p>

            <p>Burada tələbələr fərdi, ikinəfərlik və böyük qruplarda məşğul olur. Məşğələlər nəzəriyyədən daha çox praktikaya əsaslanır. Materiallar dəqiq və aydın  şəkildə təqdim olunur. Hər bir tələbə praktika və  canlı nümunələrdən istifadə edərək öyrədilir.</p>
            <p>Proqrama ixtisas profili üzrə ali təhsil səviyyəsində tədris olunan “Alqoritmlər” modulu daxildir.</p>
            <p>Təlimi başa vuran hər bir məzun freymvorkları, onların Spring və Hibernate kimi məhsullarını bilir. Verilənlər bazası üzrə məlumatlar əldə edir. Tamqiymətli server sistemləri, layihələr yaratmağı bacarır.</p>
        </div>
    </div>
</article>