<article id="about" class="about-item__article about--frontend">
    <div class="container">
        <h2 class="about-item__article-title">About the program:</h2>
        <p class="about-item__article-splitter"></p>
        <div class="about-item__article-text">
            <p>Frontend is designed for web-developers with minimum experience and complete newbies.
                We recommend this direction if you like creative tasks solving, want to work on both client and visual parts of websites or landing pages and you are familiar with computer layout.
                The program will give rise in reaching the advanced level in programming, and the mentors will always be around to help you get comfortable and get all necessary knowledge.
            <p>We will learn one of the most popular JavaScript programming language,
                React js, work with Git. The course сontains real-life cases and approved by Israeli programmers, therefore meets the latest market standards.
            </p>

            <p>Program consists of 5 modules, during which students attend workshops, including
                BackEnd basics on using NodeJS, Mobile App, Business Inteligence.
                Students will be taught to undertake the difficult tasks both individually and in groups.
                All graduates will get a chance to present their acquired skills by means of projects showcase. Students will gain experience and self-presentation skills.
            </p>
            </p>
        </div>
    </div>
</article>