<section id="about" class="about">
    <div class="about-item">
        <article class="about-item__article">
            <h2 class="about-item__article-title">О проекте</h2>
            <p class="about-item__article-splitter"></p>
            <div class="about-item__article-text">
                <p>IBAR Академия – совместный проект Международного Банка Азербайджана и учебного центра по подготовке ИТ-специалистов DAN IT education.</p>
                <p>Академия реализована в рамках программы корпоративной социальной ответственности Международного Банка Азербайджана.</p>
                <p>Миссия Академии – развитие азербайджанского рынка информационных технологий в соответствии с международными стандартами, а также предоставить доступное обучение для молодой аудитории в перспективной сфере труда. Программа обучения состоит из интенсивных bootcamp-курсов по различным направлениям в сфере ИТ. Отбор на курсы проходит в 4 этапа.</p>
            </div>
        </article>
        <div class="about-item__image-box">
            <div class="about-item__image about-item__image--1"></div>
        </div>
    </div>
    <div class="about-sponsors">
        <div class="about-sponsors__title">Организаторы:</div>
        <div class="about-sponsors__sponsor-1">
            <img src="../img/about/bank_logo.png" alt="bank_logo.png">
        </div>
        <div class="about-sponsors__sponsor-2">
            <img src="../img/about/dan.it_logo.png" alt="dan.it_logo.png">
        </div>
    </div>
    <div class="about-item about-item--reverse-order">
        <article class="about-item__article">
            <h2 class="about-item__article-title">Что Предлагаем</h2>
            <p class="about-item__article-splitter"></p>
            <div class="about-item__article-text">
                <p>Обучение в Академии – шанс реализовать себя в самой популярной сфере труда в мире на данный момент, сфере информационных технологий.</p>
                <p>Академия принимает новичков и тех, кто желает развивать себя в техническом плане, чтобы в будущем реализоваться как программист.</p>
                <p>На данный момент, сфера ИТ в Азербайджане только начинает развиваться. Не упустите момент быть в числе первых, кто откроет для себя мир технологий и станет востребованным специалистом на рынке страны.</p>
            </div>
        </article>
        <div class="about-item__image-box">
            <div class="about-item__image about-item__image--2"></div>
        </div>
    </div>


</section>