<article id="about" class="about-item__article about--frontend">
    <div class="container">
        <h2 class="about-item__article-title">About the program:</h2>
        <p class="about-item__article-splitter"></p>
        <div class="about-item__article-text">
            <p>Do you consider BackEnd as a serious step towards your future profession? Have you ever wanted to study Java fundamentally? This course is designed for web developers who want to be experts in both algorithms and apps and websites server side. Students will study individually, in pairs and groups. There is no cold theory in the class and all the material is presented clearly, each student has practice and real cases ahead.</p>

            <p>The program includes the "Algorithms" module, which is taught only in specialized universities. As a result, our graduates will obtain programming languages, frameworks and their derivatives such as Spring and Hibernate, gain knowledge of databases and will be able to create full-fledged server systems and projects.</p>
            </p>
        </div>
    </div>
</article>