<article id="about" class="about-item__article about--frontend">
    <div class="container">
        <h2 class="about-item__article-title">О программе</h2>
        <p class="about-item__article-splitter"></p>
        <div class="about-item__article-text">
            <p>Рассматриваете BackEnd как серьезный шаг к будущей профессии? Всегда хотели углублённо изучать Java? Этот курс рассчитан на подготовку разработчиков, которые будут экспертами как в алгоритмах, так и в работе с серверной частью приложений и сайтов. Студенты станут заниматься как отдельно, так и в парах и группах. На занятиях нет сухой теории — материал подается понятно и четко, у каждого студента впереди – практика и живые примеры.</p>

            <p>Программа включает модуль «Алгоритмы», который преподают только в профильных вузах. В результате выпускник будет знать такие языки,  фреймворки и их производные как Spring и Hibernate, получит знания по базам данных и сможет создавать полноценные серверные системы и проекты.</p>
            </p>
        </div>
    </div>
</article>