<section id="about" class="about">
    <div class="about-item">
        <article class="about-item__article">
            <h2 class="about-item__article-title">About</h2>
            <p class="about-item__article-splitter"></p>
            <div class="about-item__article-text">
                <p><strong class="txt-bold">IBA Tech</strong> Academy is an educational initiative of International Bank of Azerbaijan based on the methodology developed by center for training of IT professionals <a href="https://dan-it.com.ua" class="txt-bold" target="new">«DAN IT education».</a> The education program is based on the Israeli method for training IT-personnel - Telem.</p>
                <p>Currently the Academy provides immersive bootcamp programs covering main areas of coding. Applicants thriving to develop necessary competencies for programming to build their future career in IT industry can be enrolled to the program through successfully completing 4 stages of selection process. </p>
                <p>IBA Tech Academy is established within the framework of the “International Bank of Azerbaijan”’s corporate social responsibility strategy. </p>
                <p class="about-item__article-text--bold">There is no tuition fee for participation in the program.</p>
                <p>IBA Tech Academy’s mission is to develop the Azerbaijani IT market in accordance with technology of the future to achieve technological breakthroughs through cultivating new generation of professionals.</p>
            </div>
        </article>
        <div class="about-item__image-box">
            <img src="../../img/about/about_1.jpg" alt="" class="about-item__img">
        </div>
    </div>
<!--    <div class="about-sponsors">-->
<!--        <div class="about-sponsors__title">Initiators:</div>-->
<!--        <div class="about-sponsors__sponsor-1">-->
<!--            <img src="../../img/about/bank_logo.png" alt="bank_logo.png">-->
<!--        </div>-->
<!--        <div class="about-sponsors__sponsor-2">-->
<!--            <img src="../../img/about/dan.it_logo.png" alt="dan.it_logo.png">-->
<!--        </div>-->
<!--    </div>-->
    <div class="about-item about-item--reverse-order">
        <article class="about-item__article">
            <h2 class="about-item__article-title">We offer</h2>
            <p class="about-item__article-splitter"></p>
            <div class="about-item__article-text">
                <p>Studying at IBA Tech Academy is a chance to embody yourself in one of the most evolving industries of digital era - information technology.</p>
                <p class="about-item__article-text--bold">The Academy is open for everyone who wants to try out programming. It is a great opportunity even for applicants who have never coded before to build a successful future career as a programmer.</p>
                <p>Currently Azerbaijani IT sector is seeing a rapid growth. Seize the moment exploring the world of tech to be the first to pave the way to a highly-paid and promising profession of the future.</p>
            </div>
        </article>
        <div class="about-item__image-box">
            <img src="../../img/about/about_2.jpg" alt="" class="about-item__img">
        </div>
    </div>

    <div id="modal-bank" class="modal-window__underlay">
        <div class="modal-window__box container">
            <div class="modal-btn-close">
                <img src="../../img/about/modal-btn-close.png" alt="modal-btn-close.png">
            </div>
            <h3 class="modal-title">International Bank of Azerbaijan (IBA)</h3>
            <div class="modal-text">
                <p>
                    The International Bank of Azerbaijan is the largest financial institution of the Republic and the Region. Founded in 1992, the bank personifies the modern and independent Azerbaijan confirming its high status of providing financial and credit services in the international market.
                </p>
                <p>
                    It’s proved by IBA’s membership in S.W.I.F.T.E., Reuters, MasterCard Worldwide, Visa International, American Express, Diners Club, JCB International and UnionPay payment systems. IBA is the founder of the Baku Interbank Currency Exchange, the Baku Stock Exchange, the processing center “AzeriCard”, “The International Insurance Company”, the leasing company “Azerilizing”, etc. It is one of the 1000 the largest and the most stable banks in the world. Today the number of the International Bank of Azerbaijan clients is about 1 million individuals and legal entities.
                </p>
                <p>
                    The main mission is to guarantee stability of the Azerbaijani financial system, the implementation of innovative technologies to improve banking service level and socio-economic development of the country.
                    Therefore, since September 2019, the Bank has been conducting a Corporate Social Responsibility (CSR) program within framework of which the IBA Tech Academy with affordable trainings for programmers and the following сareer transition for the best graduates is being launched.
                </p>
            </div>
            <a href="https://ibar.az/ru/">Go to website</a>
        </div>
    </div>

    <div id="modal-danit" class="modal-window__underlay">
        <div class="modal-window__box container">
            <div class="modal-btn-close">
                <img src="../../img/about/modal-btn-close.png" alt="modal-btn-close.png">
            </div>
            <h3 class="modal-title">DAN.IT education</h3>
            <div class="modal-text">
                <p>
                    DAN.IT education training center was established in 2017 following Israeli model of IT-specialists training. The training course is designed by means of Telem method which favours practical phased approach, mentoring and intensive studies.
                </p>
                <p>
                    DAN.IT students choose between Full Stack, FrontEnd, Interaction (UI/UX design), Digital Marketing and programming courses for teenagers and children are also available. In August 2019 a new course of Software Engineering was launched. Courses are supplemented by weekly seminars and workshops from Ukrainian and International guest-speakers involved in IT-industry who share their practical experiences with students.
                </p>
                <p>
                    The center is supported by the Advisory Board, consisting of Ukrainian and International IT-companies representatives. The Board, along with real customers, propose our students ideas for implementation, from perspective of which students develop and vet projects, tuning soft skills and learning to showcase the results.
                </p>
                <p>
                    The initiators of launching DAN.IT education сenter in Ukraine are known for establishing John Bryce Training school network in Israel, which delivers more then 70% high-tech experts to the country labor market.
                    The training center in Kiev may also boast with great results over 2 years of work: more than 1000 graduates and the employment level has reached to 73%. DAN.IT education plans to start new programs, open branches in the Ukrainian regions and starting a project in Minsk, Belarus.
                </p>
            </div>
            <a href="https://dan-it.com.ua/">Go to website</a>
        </div>
    </div>

</section>