.faq{
  margin-bottom: 40px;
  font-family: Arial, sans-serif;
  &__title{
    color: #000000;
    font-size: $h3;
    padding: 40px 20px 10px 0;
    border-bottom: 2px solid $aquamarine;
    }
}
.faq-header-title {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 2px solid $aquamarine;
}
.faq-header-title>.header-faq {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 16px;
  padding: 5px 0;
  height: 45px;
}
.faq-header-title>.header-faq> img {
  margin-top: 10px;
}
.faq-header-title>.text {
  display:none;
  border-top: 2px solid $aquamarine;
  font-size: 18px;
  padding: 25px 0 0;
}