<section class="faq">
    <div class="container">
        <h2 class="faq__title">Tez-tez verilən suallar</h2>
        <div id="accordion" class="accordion">
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Proqrama qəbul üçün yaş məhdudiyyəti varmı?
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    18 yaşı tamam olmuş hər kəs qəbul üçün onlayn ərizə göndərə bilər. Əsas meyar təhsil arzusu və yüksək həvəsin olmasıdır. Seçim zamanı ali və orta ixtisas təhsili müəssisələrinin yeni məzunlarına, eləcə də sonuncu kurs tələbələrinə müəyyən üstünlük veriləcək.
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-item-header">
                    Namizəd hansı biliklərə malik olmalıdır?
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Təlimlərə proqramçı olmaq istəyən şəxslər qoşula bilər. Bununla belə kodlaşdırma ilə bağlı əlavə hər hansı bilik və bacarıq namizədin üstünlüyüdür.
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-item-header">
                    Təlimlərə onlayn qoşulmaq olarmı?
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Bootcamp-proqramlar offlayn qaydada keçirildiyindən, bu, mümkün deyil. Tədrisin effektivliyi üçün tələbə təlimlərdə birbaşa iştirak etməlidir.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Proqram ödənişlidirmi?
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    İBA Tech Akademiyasında təhsil ödənişsizdir. Çünki bu Akademiya Azərbaycan Beynəlxalq Bankının sosial proqramı çərçivəsində fəaliyyət göstərir.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Tədris müddəti nə qədərdir?
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Tədris proqramının müddəti 2,5 aydır.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Tədris hansı dildə aparılacaq?
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Tədris ingilis və ya rus dillərində aparılacaq.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Təlim haqqında suallar və əlavə kömək üçün kimə müraciət edə bilərəm?
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Ərizələrin qəbulu və seçim mərhələsində suallarınızla Azərbaycan Beynəlxalq Bankının 937 nömrəli Məlumat Mərkəzinə müraciət edə bilərsiniz. Tədris müddətində isə hər bir qrup üzrə müəyyən edilmiş mentorlar və kurs koordinatorları sizi maraqlandıran bütün suallarınızı cavablandıracaqlar.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Bank əməkdaşları proqramda iştirak edə bilərmi?
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Azərbaycan Beynəlxalq Bankının, eləcə də digər bankların əməkdaşları bu proqramda iştirak etmir.
                </div>
            </div>
        </div>
        </div>
    </div>
</section>