<section class="faq">
    <div class="container">
        <h2 class="faq__title">Tez-tez verilən sullar</h2>
        <div id="accordion" class="accordion">
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Proqrama qəbul üçün yaş məhdudiyyəti varmı?
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    18 yaşı tamam olmuş hər kəs qəbul üçün onlayn ərizə göndərə bilər. Əsas meyar təhsil arzusu və yüksək həvəsin olmasıdır. Seçim zamanı ali və orta ixtisas təhsili müəssisələrinin yeni məzunlarına, eləcə də sonuncu kurs tələbələrinə müəyyən üstünlük veriləcək.
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-item-header">
                    Namizəd hansı biliklərə malik olmalıdır?
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Kurslara proqramlaşdırma sahəsində yeni olan şəxslər də qoşula bilər. Bununla belə əlavə hər hansı bilik və bacarıq namizədin üstünlüyüdür.
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-item-header">
                    Kurslara onlayn qoşulmaq olarmı?
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Bootcamp-proqramlar offlayn qaydada keçirildiyindən, bu, mümkün deyil. Tədrisin effektivliyi üçün tələbə təlimlərdə birbaşa iştirak etməlidir.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Ödəniş haqqı nə qədərdir?
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    İBA Tech Akademiyasında təhsil ödənişsizdir. Çünki bu Akademiya Azərbaycan Beynəlxalq Bankının sosial proqramı çərçivəsində fəaliyyət göstərir. Əgər namizəd təhsil almaq üçün Bakıya kənardan gəlirsə, o zaman Bakıda yaşama və qidalanma xərclərini özü ödəyəcək.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Tədris müddəti nə qədərdir?
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Tədris proqramının müddəti 2,5 aydır.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Kurs haqqında suallar və əlavə kömək üçün kimə müraciət edə bilərəm?
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Müraciət ərizələrinin qəbulu və seçim mərhələsində səhifədə göstərilmiş əlaqə vasitələri ilə təşkilatçıya müraciət edə bilərsiniz. Tədris müddətində isə hər bir qrup üzrə müəyyən edilmiş mentorlar, kurs koordinatorları bütün suallarınızın cavablandırılmasında sizə kömək göstərəcəklər.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Можно ли сотрудникам банка или государственным служащим подаваться на программу?
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Проект направлен на привлечение новых кадров в сферу бизнеса и государственного управления в сфере информационных технологий и носит социальный характер, то есть не является  программой обучения банка, поэтому мы не предполагаем участие сотрудников банков и государственных служащих в программе. Акцент нашей программы -поддержка и развитие кадров, которые только начинают свою карьеру.
                </div>
            </div>
        </div>
        </div>
    </div>
</section>