<section class="faq">
    <div class="container">
        <h2 class="faq__title">FAQ</h2>
        <div id="accordion" class="accordion">
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Какой возраст оптимален для обучения?
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Вы можете подаваться на программу в любом возрасте – для нас главным критерием будет ваше желание обучаться. Однако приоритет при выборе будет отдаваться кандидатам в возрасте 20-34 лет.
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-item-header">
                    Какими знаниями должен обладать кандидат?
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos voluptas, corrupti repudiandae ea earum, aspernatur,
                    dolores repellat odit sed minus enim dolore sint quaerat aliquam alias iusto illum ipsa rem?
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-item-header">
                    Возможно ли проходить курс онлайн?
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque cum pariatur incidunt fugit id repellendus voluptatum,
                    odio modi quo eum facere doloribus numquam? Ipsam repudiandae, cumque cupiditate rerum deserunt necessitatibus?
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Платное ли обучение?
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque cum pariatur incidunt fugit id repellendus voluptatum,
                    odio modi quo eum facere doloribus numquam? Ipsam repudiandae, cumque cupiditate rerum deserunt necessitatibus?
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Сколько длится обучение?
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque cum pariatur incidunt fugit id repellendus voluptatum,
                    odio modi quo eum facere doloribus numquam? Ipsam repudiandae, cumque cupiditate rerum deserunt necessitatibus?
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    К кому я могу обратиться за помощью и вопросами о курсе?
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque cum pariatur incidunt fugit id repellendus voluptatum,
                    odio modi quo eum facere doloribus numquam? Ipsam repudiandae, cumque cupiditate rerum deserunt necessitatibus?
                </div>
            </div>

        </div>
        </div>
    </div>
</section>