<section class="faq">
    <div class="container">
        <h2 class="faq__title">FAQ</h2>
        <div class="faq__accordion">
            <div class="faq-header-title" onclick="toogle(this)">
                <div class="header-faq">
                    <p>Какой возраст оптимален для обучения?</p>
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="text">Вы можете подаваться на программу в любом возрасте – для нас главным критерием будет ваше желание обучаться. Однако приоритет при выборе будет отдаваться кандидатам в возрасте 20-34 лет. </div>
            </div>
            <div class="faq-header-title" onclick="toogle(this)">
                <div class="header-faq">
                    <p>Какими знаниями должен обладать кандидат?</p>
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
            <div class="faq-header-title" onclick="toogle(this)">
                <div class="header-faq">
                    <p>Возможно ли проходить курс онлайн?</p>
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
            <div class="faq-header-title" onclick="toogle(this)">
                <div class="header-faq">
                    <p>Платное ли обучение?</p>
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
            <div class="faq-header-title" onclick="toogle(this)">
                <div class="header-faq">
                    <p>Сколько длится обучение?</p>
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
            <div class="faq-header-title" onclick="toogle(this)">
                <div class="header-faq">
                    <p>К кому я могу обратиться за помощью и вопросами о курсе?</p>
                    <img src="../img/faq/expand_more.png">
                </div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>

        </div>
    </div>
</section>