<section class="faq">
    <div class="container">
        <h2 class="faq__title">FAQ</h2>
        <div id="accordion" class="accordion">
            <div class="accordion-item">
                <div class="accordion-item-header">
                    What is the best age for training?
                    <img src="../../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    You can apply for the program at any age. The key factor for us is your desire to study. However, priority will be given to senior high school students and graduates.
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-item-header">
                    What knowledge background should a candidate have?
                    <img src="../../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    You can take the course even being a newbie in programming. Also any additional knowledge add a benefit, both during enrollment and training.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    What's the language of the training?
                    <img src="../../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    English or russian
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Is online course available?
                    <img src="../../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Unfortunately, our bootcamp-programs are designed for your actual presence during classes. Online is not provided. Only offline can guarantee an effective absorbing of knowledge. You have a direct access to your teacher in the class. If you have a question, you receive an immediate answer. That helps a lot taking into account the intensiveness of the course.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    What is tuition fee?
                    <img src="../../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Tuition is free of charge. In the case student comes from other country than Azerbaijan to take the course, expenses for accommodation and meals in Baku during training are covered by the student.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    What is duration of the training?
                    <img src="../../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Training lasts for 2.5 months.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Whom can I ask for help?
                    <img src="../../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    In the process of selection you may address your questions to the program initiators using contacts below. During the course each group is assigned to the mentor and course facilitator, who can help with technical and personal issues.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    May bank employees apply for the program?
                    <img src="../../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    The project aims to attract new personnel in the field of business and public administration in the field of information technology. The project has social goals rather than being internal  bank training program.Therefore, we do not consider the participation of bank employees in the program.  The emphasis of our program is the support and development of personnel who are just starting their careers.
                </div>
            </div>


        </div>
        </div>
    </div>
</section>