<section class="faq">
    <div class="container">
        <h2 class="faq__title">FAQ</h2>
        <div id="accordion" class="accordion">
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Какой возраст оптимален для обучения?
                    <img src="../../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Вы можете подаваться на программу в любом возрасте – для нас главным критерием будет ваше желание обучаться. Однако приоритет при выборе будет отдаваться кандидатам  старших классов школы и выпускникам.
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-item-header">
                    Какими знаниями должен обладать кандидат?
                    <img src="../../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Курсы можно проходить, даже если вы новичок в программировании. Любые дополнительные знания будут плюсом, как при прохождении вступительной части, так и непосредственно на обучении.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    На каком языке будет проводиться тренинг?
                    <img src="../../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    На русском или английском.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Возможно ли проходить курс онлайн?
                    <img src="../../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    К сожалению, наши bootcamp-программы рассчитаны на ваше непосредственное присутствие на занятиях в классе. Онлайн-формы обучения нет. Это сделано для эффективного усвоения получаемых знаний. В классе вы можете задать любой интересующий вас вопрос и быстро получить на него точечный ответ. Вам пригодится быстрая связь с преподавателем, поскольку курсы очень интенсивны.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Платное ли обучение?
                    <img src="../../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Обучение полностью бесплатное. В случае если кандидат приезжает из другой страны и изъявляет желание учиться на курсе, за проживание и питание в Баку он платит самостоятельно.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Сколько длится обучение?
                    <img src="../../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Обучение на программе длится 2,5 месяца.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    К кому я могу обратиться за помощью и вопросами о курсе?
                    <img src="../../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Во время прохождения отбора вы можете обращаться к организаторам по указанным ниже контактам. Во время обучения к каждой группе будут прикреплены менторы и курс-координаторы, которые помогут разобраться как с техническими, так и с личными вопросами.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Можно ли сотрудникам банков подаваться на программу?
                    <img src="../../img/faq/expand_more.png">
                </div>
                <div class="accordion-item-content">
                    Проект направлен на привлечение новых кадров в сферу бизнеса и государственного управления в сфере информационных технологий и носит социальный характер, то есть не является  программой обучения банка, поэтому мы не предполагаем участие сотрудников банков. Акцент нашей программы -поддержка и развитие кадров, которые только начинают свою карьеру.
                </div>
            </div>

        </div>
        </div>
    </div>
</section>