<section class="admission">
    <div class="admission__wrapper container">
        <div class="admission__reqire">
            <h2 class="admission__title">Admission requirements:</h2>
            <div class="admission__reqire-item">
                <img src="../../img/admission/frontend/exam-age.png" alt="">
                <p class="admission__reqire-text">Age: 18 years+</p>
            </div>
            <div class="admission__reqire-item">
                <img src="../../img/admission/frontend/consulting.png" alt="">
                <p class="admission__reqire-text">Level of English: Pre-Intermediate+</p>
            </div>
            <div class="admission__reqire-item">
                <img src="../../img/admission/frontend/desk.png" alt="">
                <p class="admission__reqire-text">To have a personal computer or a laptop</p>
            </div>
            <div class="admission__reqire-item">
                <img src="../../img/admission/frontend/brain.png" alt="">
                <p class="admission__reqire-text">Willingness to intensive training</p>
            </div>
        </div>
        <div class="admission__skills">
            <h2 class="admission__title">Upon the course completion you will:</h2>
            <div class="admission__skills-wrapper">
                <div class="admission__skills-img">
                    <img src="../../img/admission/backend/admissions_girl.png" alt="girl with laptop">
                </div>
                <ol class="admission__skills-list">
                    <li>be proficient in Java</li>
                    <li>know Backend frameworks such as Spring IoC, Spring Security, Hibernate, Spring Data</li>
                    <li>know algorithms and analyze program performance</li>
                    <li>develop web interfaces and apps, manage sets and databases, test and scale programs</li>
                    <li>organize website or app security system</li>
                    <li>tune soft-skills, be ready for self-presentation and product showcase</li>
                </ol>
            </div>
        </div>
    </div>
</section>