<section class="admission">
    <div class="admission__wrapper container">
        <div class="admission__reqire">
            <h2 class="admission__title">Вступительные требования</h2>
            <div class="admission__reqire-item">
                <img src="../../img/admission/frontend/exam-age.png" alt="">
                <p class="admission__reqire-text">Возраст от 18 лет</p>
            </div>
            <div class="admission__reqire-item">
                <img src="../../img/admission/frontend/consulting.png" alt="">
                <p class="admission__reqire-text">Знание английского не ниже уровня Pre-Intermediate</p>
            </div>
            <div class="admission__reqire-item">
                <img src="../../img/admission/frontend/desk.png" alt="">
                <p class="admission__reqire-text">Наличие персонального ноутбука или  компьютера</p>
            </div>
            <div class="admission__reqire-item">
                <img src="../../img/admission/frontend/brain.png" alt="">
                <p class="admission__reqire-text">Готовность к интенсивному обучению </p>
            </div>
        </div>
        <div class="admission__skills">
            <h2 class="admission__title">По окончанию обучения будете</h2>
            <div class="admission__skills-wrapper">
                <div class="admission__skills-img">
                    <img src="../../img/admission/backend/admissions_girl.png" alt="girl with laptop">
                </div>
                <ol class="admission__skills-list">
                    <li>Знать язык программирования Java и уметь с ним работать</li>
                    <li>Знать Backend фреймворки Spring IoC, Spring Security, Hibernate, Spring Data</li>
                    <li>Знать алгоритмы и уметь анализировать быстродействие программы</li>
                    <li>Разрабатывать веб-интерфейсы и приложения, управлять наборами и базами данных, тестировать и масштабировать программы</li>
                    <li>Организовать систему безопасности сайта или приложения</li>
                    <li>Владеть навыками soft-skills, уметь презентовать себя и свой продукт</li>
                </ol>
            </div>
        </div>
    </div>
</section>