<section class="admission">
    <div class="admission__wrapper container">
        <div class="admission__reqire">
            <h2 class="admission__title">Qəbul üçün tələblər:</h2>
            <div class="admission__reqire-item">
                <img src="../img/admission/frontend/exam-age.png" alt="">
                <p class="admission__reqire-text">18 yaşdan başlayaraq;</p>
            </div>
            <div class="admission__reqire-item">
                <img src="../img/admission/frontend/consulting.png" alt="">
                <p class="admission__reqire-text">Minimum pre-intermediate səviyyəsində ingilis dili biliyi;</p>
            </div>
            <div class="admission__reqire-item">
                <img src="../img/admission/frontend/desk.png" alt="">
                <p class="admission__reqire-text">Fərdi noutbuk, yaxud kompüterə malik olmaq;</p>
            </div>
            <div class="admission__reqire-item">
                <img src="../img/admission/frontend/brain.png" alt="">
                <p class="admission__reqire-text">İntensiv tədrisə hazırlıq;</p>
            </div>
        </div>
        <div class="admission__skills">
            <h2 class="admission__title">Təlim məzunlara bunları verir:</h2>
            <div class="admission__skills-wrapper">
                <div class="admission__skills-img">
                    <img src="../img/admission/frontend/admission-guy.png" alt="guy with laptop">
                </div>
                <ol class="admission__skills-list">
                    <li>Populyar proqramlaşdırma dillərindən olan JavaScript-i öyrənərək onunla ən yüksək səviyyədə işləmə bacarığı;</li>
                    <li>Real tətbiqlər kontekstində müştəri xidməti arxitekturasının iş məntiqini anlamaq;</li>
                    <li>React.js freymvorku ilə çalışmağı bacarmaq, sıfırdan tətbiqlər yaratmaq, testlər yazmaq;</li>
                    <li>Nəzarət sisteminin GİT versiyası ilə işləmək;</li>
                    <li>Veb-interfeyslər və veb-tətbiqlər hazırlamaq;</li>
                    <li>Yad kodları onların necə çalışdığını anlayaraq oxuya bilmək;</li>
                    <li>Soft-skills vərdişlər qazanmaq, müsahibələrə hazır olmaq, özünü və layihələrini uğurla təqdim etməyi bacarmaq.</li>
                </ol>
            </div>
        </div>
    </div>
</section>