<section class="admission">
    <div class="admission__wrapper container">
        <div class="admission__reqire">
            <h2 class="admission__reqire-title">Вступительные требования</h2>
            <div class="admission__reqire-item">
                <img src="" alt="">
                <p class="admission__reqire-text">Возраст от 18 лет </p>
            </div>
        </div>
    </div>
</section>