<section class="admission">
    <div class="admission__wrapper container">
        <div class="admission__reqire">
            <h2 class="admission__title">Qəbul üçün tələblər:</h2>
            <div class="admission__reqire-item">
                <img src="../img/admission/frontend/exam-age.png" alt="">
                <p class="admission__reqire-text">18 yaşdan başlayaraq</p>
            </div>
            <div class="admission__reqire-item">
                <img src="../img/admission/frontend/consulting.png" alt="">
                <p class="admission__reqire-text">Minimum pre-intermediate səviyyəsində ingilis dili biliyi</p>
            </div>
            <div class="admission__reqire-item">
                <img src="../img/admission/frontend/desk.png" alt="">
                <p class="admission__reqire-text">Fərdi noutbuk, yaxud kompüterə malik olmaq</p>
            </div>
            <div class="admission__reqire-item">
                <img src="../img/admission/frontend/brain.png" alt="">
                <p class="admission__reqire-text">İntensiv tədrisə hazırlıq</p>
            </div>
        </div>
        <div class="admission__skills">
            <h2 class="admission__title">Təlim məzunlara bunları verir:</h2>
            <div class="admission__skills-wrapper">
                <div class="admission__skills-img">
                    <img src="../img/admission/backend/admissions_girl.png" alt="girl with laptop">
                </div>
                <ol class="admission__skills-list">
                    <li>JAVA proqramlaşdırma dilini öyrənərək onunla işləmək bacarığını</li>
                    <li>Spring IoC, Spring Securety, Hibernate, Spring Data Backend freymvorklarını mənimsəməyi</li>
                    <li>Alqoritmləri öyrənməyi və proqramların sürətli işini analiz etməyi bacarmağı</li>
                    <li>Veb-interfeyslər və tətbiqlər hazırlamağı, məlumat bazalarını, dəstlərini idarə etməyi, testləşdirmə aparmağı, proqramları miqyaslaşdırmağı</li>
                    <li>Sayt və mobil tətbiqlərin təhlükəsizlik sistemlərini qurmağı</li>
                    <li>Özünü və layihələrini təqdim etmək kimi soft-skills vərdişləri</li>
                </ol>
            </div>
        </div>
    </div>
</section>