<section class="admission">
    <div class="admission__wrapper container">
        <div class="admission__reqire">
            <h2 class="admission__title">Admission requirements:</h2>
            <div class="admission__reqire-item">
                <img src="../../img/admission/frontend/exam-age.png" alt="">
                <p class="admission__reqire-text">Age: 18 years+</p>
            </div>
            <div class="admission__reqire-item">
                <img src="../../img/admission/frontend/consulting.png" alt="">
                <p class="admission__reqire-text">Level of English: Pre-Intermediate+</p>
            </div>
            <div class="admission__reqire-item">
                <img src="../../img/admission/frontend/desk.png" alt="">
                <p class="admission__reqire-text">Have personal computer or a laptop</p>
            </div>
            <div class="admission__reqire-item">
                <img src="../../img/admission/frontend/brain.png" alt="">
                <p class="admission__reqire-text">Willingness to intensive training</p>
            </div>
        </div>
        <div class="admission__skills">
            <h2 class="admission__title">Upon the course completion you will:</h2>
            <div class="admission__skills-wrapper">
                <div class="admission__skills-img">
                    <img src="../../img/admission/frontend/admission-guy.png" alt="guy with laptop">
                </div>
                <ol class="admission__skills-list">
                    <li>be proficient in JavaScript</li>
                    <li>understand client-server architecture logics in writing real apps context</li>
                    <li>be able to work the React.js frameworks creating apps from scratch and writing texts</li>
                    <li>work in GIT version control system</li>
                    <li>read someone else’s code with the understanding of how it works</li>
                    <li>tune soft-skills, be ready for interview, self-presentation and product showcase</li>
                </ol>
            </div>
        </div>
    </div>
</section>