<section class="admission">
    <div class="admission__wrapper container">
        <div class="admission__reqire">
            <h2 class="admission__title">Вступительные требования</h2>
            <div class="admission__reqire-item">
                <img src="../../img/admission/frontend/exam-age.png" alt="">
                <p class="admission__reqire-text">Возраст от 18 лет</p>
            </div>
            <div class="admission__reqire-item">
                <img src="../../img/admission/frontend/consulting.png" alt="">
                <p class="admission__reqire-text">Знание английского не ниже уровня Pre-Intermediate</p>
            </div>
            <div class="admission__reqire-item">
                <img src="../../img/admission/frontend/desk.png" alt="">
                <p class="admission__reqire-text">Наличие персонального ноутбука или  компьютера</p>
            </div>
            <div class="admission__reqire-item">
                <img src="../../img/admission/frontend/brain.png" alt="">
                <p class="admission__reqire-text">Готовность к интенсивному обучению </p>
            </div>
        </div>
        <div class="admission__skills">
            <h2 class="admission__title">По окончанию обучения будете</h2>
            <div class="admission__skills-wrapper">
                <div class="admission__skills-img">
                    <img src="../../img/admission/frontend/admission-guy.png" alt="guy with laptop">
                </div>
                <ol class="admission__skills-list">
                    <li>Знать популярный язык программирования JavaScript и уметь работать с ним на продуктивном уровне</li>
                    <li>Понимать логику работы клинет-серверной архитектуры в контексте написания реальных приложений</li>
                    <li>Уметь работать с фреймворком React.js - создание приложений с нуля, написане тестов</li>
                    <li>Работать с системой контроля версий GIT</li>
                    <li>Разрабатывать веб-интерфейсы и веб-приложения</li>
                    <li>Читать чужой код с пониманием того, как он работает</li>
                    <li>Владеть навыками soft-skills и быть готовым к прохождению собеседований, уметь презентовать себя и свой продукт</li>
                </ol>
            </div>
        </div>
    </div>
</section>