<section class="app-wrapper" id="appForm">
    <div class="container app">
        <h2 class="app__title">Подать заявку</h2>
        <form action="js/email.php" class="app-form" id="form1">
            <label for="formName" class="app-form__text app-form__text--half-width">
                ФИО
                <input autocomplete="off" type="text" id="formName" class="app-form__text-field " placeholder="Иванов Иван Иванович" required>
            </label>
            <label for="formAge" class="app-form__text app-form__text--half-width">
                Возраст
                <input autocomplete="off" type="number" min='0' max="99" id="formAge" class="app-form__text-field" placeholder="Укажите сколько вам полных лет" required>
            </label>
<!--            <label for="formPhone" class="app-form__text app-form__text&#45;&#45;half-width">
                Телефон
                <input autocomplete="off" type="tel" pattern="(\+?\d[- .]*){7,13}" id="formPhone" class="app-form__text-field" placeholder="+ 994 00 000 00 00" required>
            </label>-->
            <label for="formPhone" class="app-form__text app-form__text--half-width">
                Телефон
                <input placeholder="+ 994 00 000 00 00" required type="tel" class="app-form__text-field" id="zipCode" onkeyup="javascript:mask('zipCode', '+000 00 000 00 00', event);" >
            </label>
            <label for="formMail" class="app-form__text app-form__text--half-width">
                E-mail
                <input autocomplete="off" type="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" id="formMail" class="app-form__text-field" placeholder="Email address" required>
            </label>
            <label for="formProgram" class="app-form__text app-form__text--arrow app-form__text--full-width">
                Направление
                <select autocomplete="off" name="program" id="formProgram" class="app-form__text-field" required>
                    <option disabled selected value> Выберите программу </option>
                    <option value="frontend">FrontEnd</option>
                    <option value="backend">BackEnd</option>
                </select>
            </label>
            <label for="formSchedule" class="app-form__text app-form__text--arrow app-form__text--full-width">
                График
                <select autocomplete="off" name="program" id="formSchedule" class="app-form__text-field" required>
                    <option disabled selected value> Выберите график </option>
                    <option value="morning">Утренний</option>
                    <option value="evening">Вечерний</option>
                </select>
            </label>
            <p class="app-form__text-field--note">IBA Tech Academy оставляет за собой право корректировать график и расписание занятий</p>
            <label for="formLetter" class="app-form__text app-form__text--full-width">
                Мотивационное письмо
                    <textarea autocomplete="off" id="formLetter" maxlength="500" class="app-form__text-field motivation-letter" placeholder="Расскажите о своём опыте или желании обучаться на программе. Почему среди прочих кандидатов мы должны выбрать именно вас? Максимум 500 символов." required></textarea>
            </label>
            <label for="personalData" class="app-form__data">
                <input required checked type="checkbox" id="personalData">
                <span class="app-form__data--check"></span>
                <span class="app-form__data--check--span">Даю согласие на обработку персональных данных. <br /> Я подтверждаю, что достиг/ла 18 лет и не являюсь банковским сотрудником</span>
            </label>
            <input type="submit" value="Отправить" class="btn-extra">
        </form>
    </div>
    <div class="app-modal">
        <div class="app-modal__msg">
            <p class="app-modal__highlight">Ваша заявка отправлена! Наши менеджеры свяжутся с Вами после её обработки.</p>
            <button class="btn-extra">Ok</button>
        </div>
    </div>
</section>
