@font-face {
  font-family: RoundedMplus1c;
  src: url('../fonts/RoundedMplus1c-Light.eot');
  src: url('../fonts/RoundedMplus1c-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RoundedMplus1c-Light.woff2') format('woff2'),
  url('../fonts/RoundedMplus1c-Light.woff') format('woff'),
  url('../fonts/RoundedMplus1c-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: RoundedMplus1c;
  src: url('../fonts/RoundedMplus1c-Regular.eot');
  src: url('../fonts/RoundedMplus1c-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RoundedMplus1c-Regular.woff2') format('woff2'),
  url('../fonts/RoundedMplus1c-Regular.woff') format('woff'),
  url('../fonts/RoundedMplus1c-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: RoundedMplus1c;
  src: url('../fonts/RoundedMplus1c-Medium.eot');
  src: url('../fonts/RoundedMplus1c-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RoundedMplus1c-Medium.woff2') format('woff2'),
  url('../fonts/RoundedMplus1c-Medium.woff') format('woff'),
  url('../fonts/RoundedMplus1c-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}
