<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Frontend | IBA Tech Academy</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="//script.sheetsu.com/"></script>
</head>
<body>
<%- include header/header.ejs %>
<%- include header/home_frontend.ejs %>
<%- include about/about_frontend.ejs %>
<%- include admission/admission_frontend.ejs %>
<%- include program/program_frontend.ejs %>
<%- include app-form/app-form.ejs %>
<%- include footer/footer.ejs %>

<script src="js/script.js"></script>
</body>
</html>