@media (min-width: $screen980) {
  .footer-wrapper{
    display: flex;
    justify-content: space-between;
  }
  .footer__address-block-first, .footer__address-block-second{
    width: calc(100% / 2 - 10px);
  }
}