<section id="contacts" class="footer">
    <div class="container">
        <h2 class="footer__headline">Контакты</h2>
        <div class="footer-wrapper">
        <div class="footer__address-block-first">
                <p class="footer__address_name">Международный Банк Азербайджана</p>
                <p class="footer__address_first-line">ул. Низами, 67, AZ1005, Баку, Азербайджан</p>

                <a href="tel:+ 994 (012) 493-00-91" class="footer__address_phone">+ 994 (012) 493-00-91</a>
                <p class="footer__address_mail">info@ibar.az</p>
            <div class="footer__social-button">
                <a class="footer__social-button_link" href="#"><img class="footer__social-button_facebook" src="img/social/021-facebook.png" alt="facebook-icon"></a>
                <a class="footer__social-button_link" href="#"><img class="footer__social-button_instagram" src="img/social/025-instagram.png" alt="instagram-icon"></a>
            </div>
        </div>
        <div class="footer__address-block-second">
            <p class="footer__address_name">DAN.IT education</p>
            <p class="footer__address_first-line">пр-т Павла Тычины, 1в, 02152, Киев, Украина</p>

            <a href="tel:+ 38 (044) 290-22-44" class="footer__address_phone">+ 38 (044) 290-22-44</a>

            <p class="footer__address_mail">office@dan-it.com.ua</p>
        </div>
        </div>
    </div>
</section>