<section id="contacts" class="footer">
    <div class="container">
        <h2 class="footer__headline">Контакты</h2>
        <div class="footer-wrapper">
            <div class="footer__address-block-first">
                <p class="footer__address_name">Международный Банк Азербайджана</p>
                <p class="footer__address_first-line">ул. Низами, 67, AZ1005, Баку, Азербайджан</p>

                <a href="tel:+ 994 (12) 937" class="footer__address_phone">+ 994 (12) 937</a>
                <p class="footer__address_mail">info@ibatech.az</p>
                <div class="footer__social-button">
                    <a class="footer__social-button_link" target="_blank" href="https://www.facebook.com/ibatechacademy"><img class="footer__social-button_facebook" src="../../img/social/021-facebook.svg" alt="facebook-icon"></a>
                    <a class="footer__social-button_link" target="_blank" href="https://www.instagram.com/ibatechacademy/"><img class="footer__social-button_instagram" src="../../img/social/025-instagram.svg" alt="instagram-icon"></a>
                </div>
            </div>
            <div class="footer__address-block-second">
                <img src="../../img/footer/bank_logo_desktop_en.svg" alt="bank">
            </div>
        </div>
    </div>
</section>