<section class="footer">
    <div class="container">
        <h2 class="container__headline">Контакты</h2>
        <div class="container__address-block-bank">
                <p class="container__address_name">Международный Банк Азербайджана</p>
                <p class="container__address_first-line">ул. Низами, 67, AZ1005,</p>
                <p class="container__address_second-line">Баку, Азербайджан</p>
                <p class="container__address_phone">+ 994 (012) 493-00-91</p>
                <p class="container__address_mail">info@ibar.az</p>
        </div>
        <div class="container__social-button">
            <a class="container__social-button_link" href="#"><img class="container__social-button_facebook" src="../img/social/021-facebook.png" alt="facebook-icon"></a>
            <a class="container__social-button_link" href="#"><img class="container__social-button_vk" src="../img/social/020-vk.png" alt="vk-icon"></a>
            <a class="container__social-button_link" href="#"><img class="container__social-button_instagram" src="../img/social/025-instagram.png" alt="instagram-icon"></a>
        </div>
        <div class="container__address-block-danit">
            <p class="container__address_name">DAN.IT education</p>
            <p class="container__address_first-line">пр-т Павла Тычины, 1в,</p>
            <p class="container__address_second-line">02152, Киев, Украина</p>
            <p class="container__address_phone">+ 38 (044) 290-22-44</p>
            <p class="container__address_mail">office@dan-it.com.ua</p>
        </div>
    </div>
</section>